In [1]:
cd ..

/Users/crupley/gal/hoodie

In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

In [4]:
from code.makedbs import *

# assessment

In [2]:
df = pd.read_csv('../data/assessment/Secured_Property_Assessment_Roll_FY13_Q4.csv')

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Situs_Address,Situs_Zip,APN,RE,RE_Improvements,Fixtures_Value,PP_Value,District,Taxable_Value,geom
0,NaN,94102,0001001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8086657345267, -122.421558691582)"
1,NaN,94102,0002001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8087296429956, -122.420498649163)"
2,NaN,94102,0004002,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8085082551122, -122.415083280065)"
3,NaN,94102,0005001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8084147785698, -122.416681695182)"
4,NaN,94102,0006001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8083224324003, -122.418348971767)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null object
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: object(10)
memory usage: 17.2+ MB

In [5]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'Fixtures_Value',
 'PP_Value',
 'District',
 'Taxable_Value',
 'geom']

In [6]:
df.RE = df.RE.apply(lambda x: x.strip('$'))

In [7]:
df.RE = df.RE.astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null float64
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: float64(1), object(9)
memory usage: 17.2+ MB

In [67]:
%run ../code/makedbs.py

In [68]:
make_assessment()

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2981: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [62]:
print df.info()
df.head()

AttributeError: 'NoneType' object has no attribute 'info'

In [61]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'PP_Value',
 'District',
 'Taxable_Value',
 'lat',
 'lon']

# business

In [65]:
df = pd.read_csv('../data/business/Registered_Business_Locations_-_San_Francisco.csv')
df.head()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,..."
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7..."
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74..."
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3..."
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3..."

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156111 entries, 0 to 156110
Data columns (total 17 columns):
Location_ID                156111 non-null object
Business_Account_Number    156111 non-null int64
Ownership_Name             156111 non-null object
DBA Name                   156109 non-null object
Street_Address             156109 non-null object
City                       155839 non-null object
State                      155463 non-null object
Zip_Code                   156067 non-null float64
Business_Start_Date        156111 non-null object
Business_End_Date          17770 non-null object
Location Start Date        156111 non-null object
Location_End_Date          26668 non-null object
Mail_Address               156110 non-null object
Mail_City_State_Zip        156110 non-null object
Class Code                 155969 non-null object
PBC Code                   155739 non-null object
Business_Location          155731 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 21.4+ MB

In [71]:
for i in df.columns: print i

Location_ID
Business_Account_Number
Ownership_Name
DBA Name
Street_Address
City
State
Zip_Code
Business_Start_Date
Business_End_Date
Location Start Date
Location_End_Date
Mail_Address
Mail_City_State_Zip
Class Code
PBC Code
Business_Location

In [76]:
%run ../code/makedbs.py
make_business()

In [78]:
pbc = pd.read_csv('../data/business/Principal_Business_Code__PBC__List.csv')
print pbc.shape
pbc.head()

(672, 4)

,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
0,S,0,0,FIXED PLACE OF BUSINESS BP99
1,P,0,0,FIXED PLACE OF BUSINESS BP99
2,C,0,0,FIXED PLACE OF BUSINESS BP99
3,S,1,2634,AGENT/BROKER - DURABLE BP50
4,S,1,2675,AGENT/BROKER - NONDURABLE BP51

In [88]:
pbc.groupby('Business_Major_Class').count()

                      Ownership_Type  Business_Minor_Class  Description
Business_Major_Class
0                                  3                     3            3
1                                 30                    30           30
2                                 37                    37           37
3                                 20                    20           20
4                                 10                    10           10
5                                  8                     8            8
6                                 11                    11           11
7                                243                   243          243
8                                143                   143          143
9                                  7                     7            7
10                                15                    15           15
11                                 9                     9            9
12                                 3                     3            3
13                               123                   123          123
15                                 4                     4            4
16                                 3                     3            3
18                                 3                     3            3

In [106]:
pbc[pbc.Business_Major_Class == 8]

,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
362,S,8,612,BAKERIES SELLING AT RETAIL BP205
363,S,8,3012,"SELLING DOOR-TO-DOOR,BY PHONE/PARTY PLAN,MOBI..."
364,S,8,3038,CATALOG OR MAIL ORDER BP5961
365,S,8,3053,VENDING MACHINE SELLING BP5962
366,S,8,3079,EATING PLACES (MEALS OR SNACKS) RESTAURANTS B...
367,S,8,3095,DRINKING PLACES(ALCOHOLIC BEVERAGES) BP5813
368,S,8,3210,GROCERY STORES(GENERAL LINE) BP541
369,S,8,3236,"FOOD STORES(MEAT,PRODUCE,CANDY,ETC) BP54"
370,S,8,3251,LIQUOR STORES BP592
371,S,8,3277,DRUG STORES BP591
372,S,8,3319,NEW CAR DEALERS BP551
373,S,8,3335,USED CAR DEALERS BP552
374,S,8,3517,"AUTO DEALERS(MOTORCYCLES,RECREATION VECH.) BP55"
375,S,8,3533,"TIRES,ACCESSORIES,AND PARTS BP553"
376,S,8,3558,GASOLINE SERVICE STATIONS BP554
377,S,8,3715,VARIETY STORES BP533
378,S,8,3731,GENERAL MERCHANDISE STORES BP539
379,S,8,3756,SHOE STORES BP566
380,S,8,3772,MEN'S AND BOYS' CLOTHING STORES BP561
381,S,8,3913,WOMEN'S READY-TO-WEAR STORES BP562S 08 3921 W...
382,S,8,3939,FAMILY CLOTHING STORES BP565
383,S,8,3954,APPAREL AND ACCESSORY STORES BP569
384,S,8,3970,FURNITURE STORES BP571
385,S,8,3988,COMPUTER AND SOFTWARE STORES BP5734
386,S,8,3996,"TV,AUDIO,AND ELECTRONICS BP5731"
387,S,8,4119,HOUSEHOLD APPLIANCE STORES BP572
388,S,8,4317,"HOME FURNISHINGS STORES(CHINA,FLOOR COVER.) B..."
389,S,8,4333,MUSIC AND RECORD STORES BP573
390,S,8,4416,BUILDING MATERIALS DEALERS BP521
391,S,8,4432,"PAINT,GLASS,AND WALLPAPER STORES BP523"
...,...,...,...,...
475,C,8,4600,"PIPE LINES,EXCEPT NATURAL GAS BP46"
476,C,8,4700,MISCELLANEOUS TRANSPORTATION SERVICES BP47
477,C,8,4830,RADIO AND TELEVISION BROADCASTING BP483
478,C,8,5220,BUILDING MATERIALS DEALERS BP52
479,C,8,5251,HARDWARE STORES BP525
480,C,8,5265,GARDEN SUPPLIES AND MOBILE HOME DEALERS BP52
481,C,8,5300,GENERAL MERCHANDISE STORES BP53
482,C,8,5410,GROCERY STORES BP541
483,C,8,5490,OTHER FOOD STORES BP54
484,C,8,5495,OTHER RETAIL STORES BP599
485,C,8,5515,MOTOR VEHICLE DEALERS BP55
486,C,8,5541,GASOLINE SERVICE STATIONS BP554
487,C,8,5598,AUTOMOTIVE DEALERS BP55
488,C,8,5600,APPAREL AND ACCESSORY STORES BP56
489,C,8,5700,FURNITURE AND HOME FURNISHINGS STORES BP57
490,C,8,5800,EATING AND DRINKING PLACES (RESTAURANTS) BP58
491,C,8,5912,DRUG STORES AND PROPRIETARY STORES BP591
492,C,8,5921,LIQUOR STORES BP592
493,C,8,5995,RETAIL STORES BP59
494,C,8,6030,MUTUAL SAVINGS BANK BP60
495,C,8,6060,BANK HOLDING COMPANIES BP6712
496,C,8,6090,"BANKS, EXCEPT MUTUAL SAVINGS BANKS BP602"
497,C,8,6120,SAVINGS AND LOAN ASSOCIATIONS BP603
498,C,8,6140,PERSONAL CREDIT INSTITUTIONS BP614
499,C,8,6299,COMMODITY CONTRACT BROKERS AND DEALER SEC BP62
500,C,8,6355,LIFE INSURANCE BP631
501,C,8,6356,MUTUAL INSURANCE EXCEPT LIFE OR MARINE BP639
502,C,8,6359,OTHER INSURANCE COMPANIES BP639
503,C,8,7900,AMUSEMENT RECREATION SERVICE EXCEPT MOTION PI...
504,C,8,8888,UNABLE TO CLASSIFY BP99

In [104]:
df.groupby('Class Code').count()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,PBC Code,Business_Location
Class Code,,,,,,,,,,,,,,,,
00,23,23,23,23,23,23,23,23,23,0,23,3,23,23,23,23
01,3087,3087,3087,3087,3087,3086,3083,3087,3087,248,3087,435,3087,3087,3085,3079
02,12234,12234,12234,12234,12234,12183,12049,12232,12234,1418,12234,1823,12234,12234,12230,12190
03,9730,9730,9730,9730,9730,9730,9728,9730,9730,651,9730,1331,9730,9730,9618,9727
04,689,689,689,689,689,689,687,689,689,64,689,90,689,689,687,689
05,57,57,57,57,57,56,56,57,57,4,57,10,57,57,57,56
06,407,407,407,407,407,406,397,407,407,29,407,49,407,407,404,405
07,65906,65906,65906,65905,65906,65820,65760,65897,65906,6938,65906,10650,65906,65906,65823,65825
08,20322,20322,20322,20322,20322,20280,20229,20321,20322,2227,20322,3084,20322,20322,20305,20296
09,164,164,164,164,164,164,163,164,164,19,164,21,164,164,164,164
10,663,663,663,663,663,619,618,663,663,37,663,56,663,663,663,658
11,5292,5292,5292,5292,5292,5281,5281,5291,5292,564,5292,652,5292,5292,5291,5163
12,215,215,215,215,215,214,212,215,215,18,215,25,215,215,215,213
13,4497,4497,4497,4497,4497,4473,4386,4497,4497,475,4497,633,4497,4497,4492,4467
15,1449,1449,1449,1449,1449,1447,1442,1449,1449,124,1449,228,1449,1449,1448,1449
16,5,5,5,5,5,5,5,5,5,0,5,0,5,5,5,5
n.a.,31229,31229,31229,31228,31227,31222,31203,31198,31229,4953,31229,7563,31228,31228,31229,31180

In [112]:
major_names = {'00': 'fixed place of business',
               '01': 'agent, broker',
               '02': 'construction',
               '03': 'hotel',
               '04': 'laundry',
               '05': 'credit',
               '06': 'equipment rental',
               '07': 'mining, entertainment, medical',
               '08': 'clothing, furniture, auto, insurance',
               '09': 'warehouse',
               '10': 'utility',
               '11': 'taxi',
               '12': 'trucking',
               '13': 'industrial supply',
               '15': 'arcitectural',
               '16': 'garage',
               '18': 'firearms',
               'n.a.': 'n.a.'}

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location,major_class
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,...","clothing, furniture, auto, insurance"
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7...","mining, entertainment, medical"
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74...",hotel
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3...","mining, entertainment, medical"
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3...","mining, entertainment, medical"

In [178]:
%run ../code/makedbs.py
df = make_business()
print df.info()
df.head()

AttributeError: 'DataFrame' object has no attribute 'ilot'

In [165]:
def getlatlon(v):
    if type(v) == float: return 0, 0
    s = v.split('\n')[-1]
    if len(s) == 0: return 0, 0
    return eval(s)

In [159]:
s = np.array(s)
s[s == 0].shape

(5026,)

In [175]:
for i in df.columns: print i

Ownership_Name
DBA Name
Street_Address
City
State
Zip_Code
major_class
minor_class
lat
lon

In [199]:
%run ../code/makedbs.py

In [200]:
df = load_business()

In [201]:
df = clean_business(df)
df.head()

<string>:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,major_class,minor_class,lat,lon
0,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,"clothing, furniture, auto, insurance",0,43.161198,-77.619282
1,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.799779,-122.430988
2,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,hotel,0,37.748921,-122.465050
3,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.804734,-122.442997
4,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.800835,-122.444748

## reorganize business categories

In [22]:
bus = get_db('business_raw')
print bus.shape
bus.head()

(156111, 17)

,location_id,business_account_number,ownership_name,dba_name,street_address,city,state,zip_code,business_start_date,business_end_date,location_start_date,location_end_date,mail_address,mail_city_state_zip,class_code,pbc_code,business_location
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,..."
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7..."
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74..."
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3..."
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3..."

In [44]:
busclean = clean_business(bus)
print busclean.shape
busclean.head()

(970901, 12)

,ownership_name,dba_name,street_address,city,state,zip_code,class_code,pbc_code,major_class,lat,lon,Description
0,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,08,5995,Retail Sales,43.161198,-77.619282,RETAIL STORES BP59
1,ANTONIO MARIANI INC,ANTONIOS ANTIQUES,701 BRYANT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.777628,-122.400523,RETAIL STORES BP59
2,ANTONIO MARIANI INC,ANTONIOS,701 BRYANT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.777628,-122.400523,RETAIL STORES BP59
3,ANTONIO MARIANI INC,ANTONIO'S ANTIQUES CUSTOM & RE,701 BRYANT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.777628,-122.400523,RETAIL STORES BP59
4,ARMSTRONG CARPET&LINOLEUM CO,ARMSTRONG CARPET&LINOLEUM CO,369 WEST PORTAL AVE,San Francisco,CA,94127,08,5995,Retail Sales,37.737052,-122.470126,RETAIL STORES BP59

In [25]:
codes = pd.read_csv('data/business/Principal_Business_Code__PBC__List.csv')
codes.head()

,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
0,S,0,0,FIXED PLACE OF BUSINESS BP99
1,P,0,0,FIXED PLACE OF BUSINESS BP99
2,C,0,0,FIXED PLACE OF BUSINESS BP99
3,S,1,2634,AGENT/BROKER - DURABLE BP50
4,S,1,2675,AGENT/BROKER - NONDURABLE BP51

In [42]:
busclean.merge(codes, left_on='pbc_code', right_on='Business_Minor_Class')

,ownership_name,dba_name,street_address,city,state,zip_code,class_code,pbc_code,major_class,lat,lon,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
0,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,08,5995,Retail Sales,43.161198,-77.619282,C,8,5995,RETAIL STORES BP59
1,ANTONIO MARIANI INC,ANTONIOS ANTIQUES,701 BRYANT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.777628,-122.400523,C,8,5995,RETAIL STORES BP59
2,ANTONIO MARIANI INC,ANTONIOS,701 BRYANT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.777628,-122.400523,C,8,5995,RETAIL STORES BP59
3,ANTONIO MARIANI INC,ANTONIO'S ANTIQUES CUSTOM & RE,701 BRYANT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.777628,-122.400523,C,8,5995,RETAIL STORES BP59
4,ARMSTRONG CARPET&LINOLEUM CO,ARMSTRONG CARPET&LINOLEUM CO,369 WEST PORTAL AVE,San Francisco,CA,94127,08,5995,Retail Sales,37.737052,-122.470126,C,8,5995,RETAIL STORES BP59
5,ARMSTRONG CARPET&LINOLEUM CO,ARMSTRONG CARPT&LINOLEUM CO,369 WEST PORTAL AVE,San Francisco,CA,94127,08,5995,Retail Sales,37.737052,-122.470126,C,8,5995,RETAIL STORES BP59
6,120 SECOND STREET CORPORATION,120 SECOND STREET CORPORATION,120 2ND ST,San Francisco,CA,94105,08,5995,Retail Sales,37.787653,-122.399354,C,8,5995,RETAIL STORES BP59
7,AWARDS UNLIMITED,AWARDS UNLIMITED,209 POST ST 721,San Francisco,CA,94108,08,5995,Retail Sales,37.788670,-122.405435,C,8,5995,RETAIL STORES BP59
8,BEARING ENGINEERING CO,BEARING ENGINEERING CO,901 25TH ST,San Francisco,CA,94107,08,5995,Retail Sales,37.752788,-122.388309,C,8,5995,RETAIL STORES BP59
9,BOOKS INC,BOOKS INC,601 VAN NESS AVE,San Francisco,CA,94102,08,5995,Retail Sales,37.781471,-122.420616,C,8,5995,RETAIL STORES BP59
10,BOOKS INC,BOOKS INC,2251 CHESTNUT ST,San Francisco,CA,94123,08,5995,Retail Sales,37.800296,-122.440317,C,8,5995,RETAIL STORES BP59
11,BOOKS INC,COMPASS BOOKS,1501 VERMONT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.750215,-122.402829,C,8,5995,RETAIL STORES BP59
12,BOOKS INC,COMPASS BOOKS INC,1501 VERMONT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.750215,-122.402829,C,8,5995,RETAIL STORES BP59
13,BOOKS INC,COMPASS BOOKS & CAFE,1501 VERMONT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.750215,-122.402829,C,8,5995,RETAIL STORES BP59
14,BOOKS INC,BOOKS INC,1501 VERMONT ST,San Francisco,CA,94107,08,5995,Retail Sales,37.750215,-122.402829,C,8,5995,RETAIL STORES BP59
15,BRADLEY E B CO INC,BRADLEY E B CO INC,26250 CORPORATE DR B & C,HAYWARD,CA,94545,08,5995,Retail Sales,37.629232,-122.114710,C,8,5995,RETAIL STORES BP59
16,CABLE CAR CLTHR-RBT KIRK LTD,CABLE CAR CLTHR-RBT KIRK LTD,110 SUTTER ST 108,San Francisco,CA,94108,08,5995,Retail Sales,37.789981,-122.402756,C,8,5995,RETAIL STORES BP59
17,COAST MARINE-INDSTL SUPPLY IN,COAST MARINE-INDSTL SUPPLY INC,398 JEFFERSON ST,San Francisco,CA,94133,08,5995,Retail Sales,37.807776,-122.419323,C,8,5995,RETAIL STORES BP59
18,COAST MARINE-INDSTL SUPPLY IN,COAST MARINE-INDSTL SUPPLY INC,1480 BANCROFT AVE,San Francisco,CA,94124,08,5995,Retail Sales,37.724201,-122.390347,C,8,5995,RETAIL STORES BP59
19,COPY SERVICE CO,COPY SERVICE CO,385 BUSH ST,San Francisco,CA,94104,08,5995,Retail Sales,37.790745,-122.404102,C,8,5995,RETAIL STORES BP59
20,CRESALIA JEWELERS INC,CRESALIA JEWELERS INC,27 MAIDEN LANE 318,San Francisco,CA,94108,08,5995,Retail Sales,37.788364,-122.404027,C,8,5995,RETAIL STORES BP59
21,CUSTOM ORTHOPEDIC APPLIANC IN,CUSTOM ORTHOPEDIC APPLIANC INC,340 DIVISADERO ST,San Francisco,CA,94117,08,5995,Retail Sales,37.772591,-122.437278,C,8,5995,RETAIL STORES BP59
22,DELBONTA MARTIN D INC,DEL BONTA,210 POST ST 409,San Francisco,CA,94108,08,5995,Retail Sales,37.788678,-122.405371,C,8,5995,RETAIL STORES BP59
23,DVORSONS FOOD SERV EQUIP INC,DVORSONS FOOD SERV EQUIP INC,480 GATE 5 RD 115,SAUSALITO,CA,94965,08,5995,Retail Sales,37.869008,-122.499246,C,8,5995,RETAIL STORES BP59
24,GENESCO INC,JOHNSTON & MURPHY #1854,299 POST ST,San Francisco,CA,94108,08,5995,Retail Sales,37.788427,-122.407350,C,8,5995,RETAIL STORES BP59
25,GENESCO INC,JOURNEYS 0256,236 POWELL ST,San Francisco,CA,94102,08,5995,Retail Sales,37.786928,-122.408154,C,8,5995,RETAIL STORES BP59
26,GENESCO INC,JOURNEYS #291,3251 20TH AVE 246,San Francisco,CA,94132,08,5995,Retail Sales,37.727905,-122.475605,C,8,5995,RETAIL STORES BP59
27,GENESCO INC,JOURNEYS #291,3251 20TH AVE #246,San Francisco,CA,94132,08,5995,Retail Sales,37.727905,-122.475605,C,8,5995,RETAIL STORES BP59
28,FLAXS ARTISTS MATERIALS,FLAXS ARTISTS MATERIALS,1699 MARKET ST,San Francisco,CA,94103,08,5995,Retail Sales,37.772603,-122.422337,C,8,5995,RETAIL STORES BP59
29,FLAXS ARTISTS MATERIALS,FLAX ART & DESIGN,1699 MARKET ST,San Francisco,CA,94103,08,5995,Retail Sales,37.772603,-122.422337,C,8,5995,RETAIL STORES BP59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970871,AP VIN LLC,AP VIN LLC,622 TREAT AVE,San Francisco,CA,94110,13,2000,Wholesale Sales,37.760274,-122.413773,P,13,2000,FOOD PRODUCTS AND BEVERAGES BP20
970872,AP VIN LLC,UPSIDE WINES,622 TREAT AVE,San Francisco,CA,94110,13,2000,Wholesale Sales,37.760274,-122.413773,P,13,2000,FOOD PRODUCTS AND BEVERAGES BP20
970873,IMTAIR ANWAR & RAJAB,DESIGNER FASHION,3801 3RD ST 112,San Francisco,CA,94124,08,5611,Retail Sales,37.742089,-122.388029,P,8,5611,MEN'S AND BOYS' CLOTHING AND FURNISHINGS BP561
970874,FAZE APPAREL LLC,FAZE APPAREL,3236 21ST ST,San Francisco,CA,94110,08,5611,Retail Sales,37.756996,-122.419805,P,8,5611,MEN'S AND BOYS' CLOTHING AND FURNISHINGS BP561
970875,VITAL J/WILL G/TIMMONS E,WV GOODS AND DESIGN,3735 ANZA ST 7,San Francisco,CA,94121,08,5611,Retail Sales,37.778007,-122.488373,P,8,5611,MEN'S AND BOYS' CLOTHING AND FURNISHINGS BP561
970876,LOPEZ HECTOR LOPEZ MIGUEL,UNDERPINNING SPECIALIST,770 DAKOTA DR,SAN JOSE,CA,95111,02,1771,General Contractors & Operative Builders,37.297017,-121.831096,P,2,1771,CONCRETE WORK BP177
970877,CLARK PACIFIC ETAL,CLARK PACIFIC,1980 S RIVER RD,WEST SACRAMENTO,CA,95691,02,1771,General Contractors & Operative Builders,38.563465,-121.523391,P,2,1771,CONCRETE WORK BP177
970878,VANHORN BRIAN A,GOLDEN GATE HOME HOSPICE & EUT,4000 IRVING ST,San Francisco,CA,94122,07,1958,Other Business Services,37.762517,-122.500864,S,7,1958,VETERINARY SERVICES INCLUDING FEES BP074
970879,VANHORN BRIAN A,BAY AREA VETERINARY HOUSECALL ASSOCIATES,4000 IRVING ST,San Francisco,CA,94122,07,1958,Other Business Services,37.762517,-122.500864,S,7,1958,VETERINARY SERVICES INCLUDING FEES BP074
970880,LOW ANDREW R,LOW BICYCLES,650 FLORIDA STREET F,San Francisco,CA,94110,13,1073,Wholesale Sales,37.761326,-122.411068,S,13,1073,FABRICATED METAL BOXES BP34
970881,TURNER TIFFANY & MONIQUE,HAPPY WINGS,4333 3RD ST 306,San Francisco,CA,94124,08,5074,Retail Sales,37.738256,-122.389390,S,8,5074,MOBILE HOME DEALERS BP527
970882,SILICON VALLEY BANK,SILICON VALLEY BANK,555 MISSION ST 900,San Francisco,CA,94105,07,6120,Other Business Services,37.788692,-122.398938,C,7,6120,SAVINGS AND LOAN ASSOCIATIONS BP603
970883,SILICON VALLEY BANK,SILICON VALLEY BANK,555 MISSION ST 900,San Francisco,CA,94105,07,6120,Other Business Services,37.788692,-122.398938,C,8,6120,SAVINGS AND LOAN ASSOCIATIONS BP603
970884,CLEAR WATER SANGHA,CLEAR WATER SANGHA,400 PAGE ST 202,San Francisco,CA,94102,07,8771,Other Business Services,37.773413,-122.427695,S,7,8771,MINISTERS AND CHAPLAINS BP832
970885,OLAJIDE RONALD BOYEDE,RONALD BOYEDE OLAJIDE,450 GOLDEN GATE AVE,San Francisco,CA,94102,07,8771,Other Business Services,37.781366,-122.417803,S,7,8771,MINISTERS AND CHAPLAINS BP832
970886,BAUMAN ENTERPRISES LLC,PARLOR 1255,1255 BATTERY ST 700,San Francisco,CA,94111,08,5451,Retail Sales,37.802842,-122.401905,P,8,5451,DAIRY PRODUCT STORES BP545
970887,TL & R LLC,PARKSIDE APPLICANCE SERVICE,2418 28TH AVE,San Francisco,CA,94116,08,5722,Retail Sales,37.742284,-122.485351,P,8,5722,HOUSEHOLD APPLIANCE STORES BP572
970888,AMERICA&ASIA TRADBIZ LLC,FANCYWE,2189 BAYSHORE BLVD 202,San Francisco,CA,94134,08,5551,Retail Sales,37.712443,-122.401331,P,8,5551,BOAT DEALERS BP555
970889,AMERICA&ASIA TRADBIZ LLC,FANCYBOAT,2189 BAYSHORE BL 202,San Francisco,CA,94134,08,5551,Retail Sales,37.712445,-122.401328,P,8,5551,BOAT DEALERS BP555
970890,MAXIMUM MOBILITY INC,MAXIMUM MOBILITY INC,69 WINFIELD ST,San Francisco,CA,94110,13,3140,Wholesale Sales,37.744112,-122.417592,C,13,3140,FOOTWEAR EXCEPT RUBBER BP314
970891,19TH AVENUE NUMBER TWO,19TH AVENUE NUMBER TWO,1400 19TH AVE,San Francisco,CA,94122,07,1380,Other Business Services,37.761489,-122.476921,C,7,1380,OIL AND GAS FIELD SERVICES BP138
970892,SHANKS DONALD R SHANKS LIZA,PREMIUM GLASS,6752 PRESTON AVE B,LIVERMORE,CA,94551,02,1790,General Contractors & Operative Builders,37.709968,-121.712222,P,2,1790,"BLDG TRADE CONTR(EXCAVATION,GLAZING,ETC) BP179"
970893,655 THIRD STREET ASSOCIATES,655 THIRD STREET ASSOCIATES,665 THIRD ST,San Francisco,CA,94107,03,6520,"Hotels, Apartments",37.779303,-122.393338,P,3,6520,LESSOR OF REAL PROPERTY OTHER THAN BUILDINGS ...
970894,BLUESTAR REFRESHMENT SERVICES,BLUESTAR REFRESHMENT SERVICE,575 DADO ST,SAN JOSE,CA,95131,13,2089,Wholesale Sales,37.388241,-121.913226,C,13,2089,BOTTLED SOFT DRINKS AND FLAVORINGS BP208
970895,PEREZ JESSE C,J P CONSTRUCTION,205 DE ANZA BLVD. #193,SAN MATEO,CA,94402,02,75,General Contractors & Operative Builders,37.520731,-122.336579,S,2,75,HIGHWAY AND STREET CONSTRUCTION BP161
970896,WHITE GARY D,ABSOLUTE GRANITE & RESTORATION,67 HOFF ST F,San Francisco,CA,94110,02,75,General Contractors & Operative Builders,37.763913,-122.420477,S,2,75,HIGHWAY AND STREET CONSTRUCTION BP161
970897,CHECHELNISKY ANATOLY,UNIWORLD DRIVING SCHOOL,5947 GEARY BLVD,San Francisco,CA,94121,01,6080,Commission Merchant or Broker (non-durable goods),37.780085,-122.483360,S,1,6080,COMMODITY CONTRACT BROKERS & DEALERS & SEC EX...
970898,MACDONALD PAINT & DESIGN INC,MACDONALD PAINT & DESIGN INC,1200 HOWARD ST,San Francisco,CA,94103,13,2390,Wholesale Sales,37.776223,-122.411611,C,13,2390,MISCELLANEOUS FABRICATED TEXTILE PRODUCTS BP239
970899,WOOD FRANK M,WESTERN ELEVEN VINEYARDS,555 MONTGOMERY ST 708,San Francisco,CA,94111,07,2113,Other Business Services,37.794421,-122.403096,S,7,2113,FARM LABOR & MANAGEMENT BP076
970900,WOOD FRANK M,WESTERN ELEVEN VINEYARDS,57 POST ST 610,San Francisco,CA,94104,07,2113,Other Business Services,37.788968,-122.403091,S,7,2113,FARM LABOR & MANAGEMENT BP076

In [38]:
busclean.pbc_code.astype('int', inplace=True)

0         5995
1         7520
2         6511
3          211
4          211
5          211
7          211
8          211
9         1731
10        5700
11        5700
12        3517
13        7880
14        7880
15        1761
16        7340
17        7340
18        8888
19        8200
20        8200
21        8200
22        8200
23        8200
24        8200
25        8200
26        8200
27        8200
28        8200
29        8200
30        8200
          ...
156076    8888
156077    8888
156078    8888
156079    8888
156080    8888
156081    8888
156082    8888
156083    8888
156084    8888
156085    8888
156086    8888
156087    8888
156088    8888
156089    8888
156090    8888
156091    8888
156092    8888
156096    8888
156097    8888
156098    8888
156099    8888
156100    8888
156101    8888
156102    8888
156104    8888
156105    8888
156107    8888
156108    8888
156109    8888
156110    8888
Name: pbc_code, dtype: int64

In [49]:
busclean.Description.unique()

array([' RETAIL STORES BP59', ' PARKING, AUTOMOBILE PK752',
       ' NON-PROFIT GARAGES - PARTNERSHIPS PK752',
       ' NON-PROFIT GARAGES - CORPORATIONS PK752',
       ' (APARTMENTS) REAL ESTATE OPERATORS & LESSORS BP651',
       ' REAL ESTATE OPR/LESSOR OF BLDG EXCEPT DEVELOPER BP651',
       ' REAL ESTATE OPERATORS AND LESSORS OF BUILDINGS BP9001',
       ' BEEF CATTLE FEEDLOTS BP0211', ' ELECTRICAL WORK BP173',
       ' ELECTRICAL WORK BP17C 02 1761 ROOFING, SIDING AND SHEET METAL RF176',
       ' FURNITURE AND HOME FURNISHINGS STORES BP57',
       ' AUTO DEALERS(MOTORCYCLES,RECREATION VECH.) BP55',
       ' BUSINESS SERVICES BP738', ' ROOFING,SIDING,AND SHEET METAL RF176',
       ' JANITORIAL AND RELATED SERVICES BP734',
       ' UNABLE TO CLASSIFY BP99',
       ' UNABLE TO CLASSIFY BP99P 06 7350 EQUIPMENT RENTAL AND LEASING BP735',
       ' UNABLE TO CLASSIFY BP99C 08 1430 DIMENSION,CRUSHED/BROKEN STONES,SAND AND GRAVEL BP14',
       ' EDUCATIONAL SERVICES BP82', ' METALWORKING MACHINERY BP354',
       ' ENGINEERING AND ARCHITECTUAL SERVICES BP871',
       ' ARCHITECTURAL AND ENGINEERING SERVICES BP871',
       ' MISCELLANEOUS NONDURABLE GOODS BP519', ' FURNITURE STORES BP571',
       ' CHEMICAL AND ALLIED PRODUCTS BP39',
       ' TRAVEL AGENTS AND TOUR OPERATORS BP70',
       ' ACCOUNTING, AUDITING, AND BOOKKEEPING BP872',
       ' MEAT,FISH MARKETS,FREEZER PROVISIONERS BP542',
       ' INSURANCE AGENTS/BROKERS & SERVICES BP64',
       ' INSURANCE BROKERS AND SERVICES BP64',
       ' INSURANCE AGENTS,BROKERS,AND SERVICES BP64',
       ' INSURANCE SVCS (APPRAISAL,CONSULTING,INSPECTION) BP64',
       ' GROCERIES AND RELATED PRODUCTS BP514',
       ' REAL ESTATE - APARTMENTS BP9001',
       ' REAL ESTATE, OTHERS (COMMERCIAL BUILDING) BP65',
       ' REAL ESTATE, OTHERS (COMMERCIAL BUILDING) BP654',
       ' EATING AND DRINKING PLACES (RESTAURANTS) BP58',
       ' BUSINESS SERVICES, EXCEPT ADVERTISING BP73',
       ' SPECIAL TRADE CONTRACTORS BP17',
       ' MANAGEMENT,CONSULTING,AND PUBLIC RELATIONS BP874',
       ' MISCELLANEOUS SERVICES(INCLUDING VETERINARIANS) BP9001',
       ' MISC. SERVICES(INCLUDING VETERINARIANS) BP89',
       ' SELLING FOR YOUR OWN ACCOUNT BP50',
       ' OTHER MANUFACTURING PRODUCTS BP39',
       ' PRESERVED FRUITS & VEGETABLES BP203',
       ' AUTO REPAIR AND SERVICES BP75C 07 7520 PARKING, AUTOMOBILE PK752',
       ' PLUMBING,HEATING,AND AIR CONDITIONING BP171',
       ' PLUMBING,HEATING,AND AIR CONDITIONING BP17',
       ' BARBER SHOPS(OR BARBER) BP724',
       ' (APARTMENTS) OPERATORS & LESSORS OF BUILDINGS BP651',
       ' BOOK STORES,EXCLUDING NEWSSTANDS BP5942',
       ' FURNITURE AND HOME FURNISHINGS BP502',
       ' MACHINERY,EQUIPMENT, AND SUPPLIES BP508',
       ' AUTOMOTIVE RENTAL AND LEASING,WITHOUT DRIVERS BP751',
       ' AUTOMOTIVE RENTAL, OR LEASING WITHOUT DRIVER BP751',
       ' CERTIFIED PUBLIC ACCOUNTANTS BP872',
       ' REAL ESTATE AGENTS/BROKERS AND MANAGERS BP653P 01 6635 TRAVEL AGENTS AND TOUR OPERATORS BP70',
       ' REAL ESTATE AGENTS/BROKERS AND MANAGERS BP65',
       ' REAL ESTATE PROPERTY MANAGERS BP653',
       ' REAL ESTATE PROPERTY MANAGERS BP65',
       ' OFFICES OF OTHER HEALTH PRACTITIONERS BP804',
       ' OPERATORS AND LESSORS OF BLDGS BP9001',
       ' REAL ESTATE, OTHERS (COMMERCIAL BUILDING) BP651',
       ' SECURITY BROKERS,DEALERS,FLOTATION COMPANIES BP62',
       " OFFICES AND CLINICS OF MEDICAL DOCTORS(MD'S) BP801",
       ' OTHER FOOD STORES BP549', ' OTHER FOOD STORES BP54',
       ' ACCOUNTING,AUDITING AND BOOKKEEPING BP872',
       ' BUILDING MATERIALS DEALERS BP52',
       ' OFFICES AND CLINICS OF DENTISTS BP802',
       ' OFFICES OF DENTISTS BP802', ' PERSONAL SERVICES BP72',
       ' PAPER AND PAPER PRODUCTS BP511', ' LEGAL SERVICES BP81',
       ' BANK HOLDING COMPANIES BP6712', ' RETAIL STORES BP5999',
       ' FIREARMS AND AMMUNITION SALES BP50', ' JEWELRY STORES BP5944',
       ' REAL ESTATE AGENTS AND MANAGERS BP9001', ' REAL ESTATE BP9001',
       ' REAL ESTATE AGENTS AND MANAGERS BP653',
       ' APPAREL AND ACCESSORY STORES BP569',
       ' APPAREL AND ACCESSORY STORES BP56',
       ' OFFICES OF PHYSICIANS,OSTEOPATHIC PHYSICIANS BP80',
       ' HARDWARE STORES BP525', ' TRUCKING AND WAREHOUSING BP42',
       ' MISC. FABRICATED METAL PRODUCTS BP349',
       ' OTHER RETAIL STORES BP599',
       ' APPAREL,PIECE GOODS,AND NOTIONS BP513',
       ' HOTELS AND OTHER LODGING PLACES HT70', ' DRUGS BP283',
       ' DRUG STORES AND PROPRIETARY STORES BP591',
       ' PERSONAL SERVICES BP729',
       ' EMPLOYMENT AGENCIES AND PERSONNEL SUPPLY BP736',
       ' OFFICES OF OPTOMETRISTS BP8042',
       ' METAL,MINERALS,EXCEPT PETROLEUM AND SCRAP BP505',
       ' HARDWARE,PLUMBING,HEATING EQUIPMENT & SUPPLIES BP507C 13 5098 DURABLE GOODS BP50',
       ' HEAVY CONSTRUCTION CONTRACTORS BP16',
       ' COIN-OPERATED LAUNDRIES AND DRY CLEANING BP7215',
       ' RADIO AND TELEVISION BROADCASTING BP483',
       ' FIXED PLACE OF BUSINESS BP99', ' AUTOMOTIVE DEALERS BP55',
       ' GENERAL BUILDING CONTRACTORS BP15',
       ' EATING PLACES (MEALS OR SNACKS) RESTAURANTS BP5812',
       ' FURNITURE REPAIR & UPHOLSTERY BP764',
       ' AGENT/BROKER - NONDURABLE BP51',
       ' AGENT OR BROKER FOR OTHER FIRMS (OVER 50% COMM) BP9001',
       ' LIQUOR STORES BP592', ' SELLING FOR YOUR OWN ACCOUNT BP51',
       ' BUSINESS CREDIT INSTITUTIONS BP615',
       ' FUNERAL SERVICES AND CREMATORIES BP726P 07 7291 INCOME TAX PREPARATION BP729',
       ' FUNERAL SERVICES AND CREMATORIES BP726',
       ' CHEMICALS AND ALLIED PRODUCTS BP516', ' HOSPITALS BP806',
       ' MISCELLANEOUS TRANSPORTATION SERVICES BP47',
       ' OTHER MOTION PICTURE, TV FILM AND TAPE ACT BP78',
       ' MOTION PICTURE PRODUCTION,DISTRIBUTION,SERVICES BP781',
       ' EQUIPMENT REPAIR BP769', ' BEAUTY SHOPS(OR BEAUTICIAN) BP723',
       ' AGENT/BROKER FOR OTHER FIRMS WITH 1/2 OF SALE BP51',
       ' AGENT/BROKER FOR OTHER FIRMS BP51', ' BUSINESS SERVICES BP73',
       ' AUTO REPAIR AND SERVICES BP753',
       ' FOOD PRODUCTS AND BEVERAGES BP20',
       ' SECURITY BROKERS AND DEALERS BP621',
       ' DRINKING PLACES(ALCOHOLIC BEVERAGES) BP5813',
       ' ALCOHOLIC BEVERAGES BP518', ' GENERAL MERCHANDISE STORES BP53',
       ' BEAUTY SHOPS BP723', ' BEAUTY SHOPS OR BEAUTICIANS BP723',
       ' LUMBER AND CONSTRUCTION MATERIALS BP503', ' OPTOMETRISTS BP8042',
       ' HOTELS,MOTELS,AND TOURIST HOMES HT701', ' HOTELS HT70',
       ' OTHER GENERAL MERCHANDISE STORES BP539', ' ADVERTISING BP731',
       ' ACCOUNTING, AUDITING, AND BOOKKEEPING SERVICES BP872',
       ' APPT/RE/LESSOR-SOLE PROPRIETORSHIP BP651',
       ' APPT/RE/LESSOR-PARTNERSHIP BP651',
       ' APPT/RE/LESSOR-CORPORATION BP651',
       ' COMMODITY CONTRACTS BROKERS AND DEALERS BP622',
       ' COMMODITY CONTRACTS BROKERS AND DEALERS BP62',
       ' COMMODITY CONTRACT BROKERS AND DEALER SEC BP62',
       ' LICENSED HEALTH PRACTITIONERS BP804',
       ' OTHER MACHINERY EXCEPT ELECTRICAL BP359',
       ' LEGAL SERVICES(OR LAWYER) BP81S 07 7633 INCOME TAX PREPARATION BP7291',
       ' PLUMBING, HEATING, AIR CONDITIONING BP171',
       ' SPORTING,RECREATIONAL,PHOTO,HOBBY GOODS,TOYS BP509',
       ' RETAIL BAKERIES BP546', ' MISCELLANEOUS PERSONAL SERVICES BP7299',
       ' LOCAL AND INTERURBAN PASSENGER TRANSIT BP41',
       ' GROCERY STORES(GENERAL LINE) BP541',
       ' MOTOR VEHICLES AND AUTOMOTIVE EQUIPMENT BP501',
       ' FLORISTS BP5992', ' ELECTRICAL GOODS BP506',
       ' MEMBERSHIP ORGANIZATIONS BP86',
       ' REUPHOLSTERY AND FURNITURE REPAIR BP764',
       ' FARM-PRODUCT RAW MATERIALS BP515',
       ' MOTELS,MOTOR HOTELS, AND TOURIST COURTS HT701',
       ' AUTOMOTIVE REPAIR SHOPS BP753', ' GROCERY STORES BP541',
       ' OPERATIVE BUILDERS BP153',
       ' REAL ESTATE,INSURANCE,FINANCIAL ACTIVITIES BP67',
       ' AMUSEMENT,RECREATION SVCS.,EXC. MOTION PICTURES SD79',
       ' AMUSEMENT RECREATION SERVICE EXCEPT MOTION PICTUREBP7378',
       ' CHIROPRACTORS BP8041', ' PHOTOGRAPHIC PORTRAIT STUDIOS BP722',
       ' MANAGEMENT, CONSULTING, AND PUBLIC RELATIONS SVCS BP73',
       ' OPERATIVE BUILDERS BP15', ' TIRES,ACCESSORIES,AND PARTS BP553',
       ' GAS PRODUCTION AND DISTRIBUTION UT492',
       ' SUGAR AND CONFECTIONERY PRODUCTS BP206',
       ' EQUIPMENT RENTAL AND LEASING BP735', ' BARBER SHOPS BP724',
       ' BARBER SHOPS OR BARBERS BP724', ' RAILROAD TRANSPORTATION BP40',
       ' PETROLEUM AND PETROLEUM PRODUCTS BP517',
       ' AMUSEMENT SERVICES BP79',
       ' LAUNDRY,DRY CLEANING,AND GARMENT SERVICES BP7219',
       ' RADIO AND TELEVISION STORES BP573',
       ' FABIC AND NEEDLEWORK STORES BP5949',
       ' REAL ESTATE AGENTS OR BROKERS BP653', ' INSURANCE BROKERS BP64',
       ' COMMERCIAL AND OTHER PRINTING BP275',
       ' CARPENTERING AND FLOORING BP175',
       ' HOBBY,TOY,AND GAME SHOP BP5945', ' ARCHITECTURAL SERVICES BP871',
       ' BOOK STORES BP5942',
       ' LESSOR OF RAILROAD PROPERTY,OTHER REAL PROPERTY BP6517',
       ' GENERAL MERCHANDISE STORES BP539', ' RESIDENTIAL BUILDING BP152',
       ' GIFT,NOVELTY,AND SOUVENIR SHOPS BP5947',
       ' PAINTING AND PAPER HANGING BP172', ' MEDICAL SERVICES BP809',
       ' TELEPHONE,TELEGRAPH,OTHER COMMUNICATION SERVICES UT48',
       ' CONDOMINIUM MGMT, COOPERATIVE HOUSING ASSOC BP65',
       ' CONDOMINIUM MGNT,COOPERATIVE HOUSING ASSOCS. BP653',
       ' ELECTRIC SERVICES UT491',
       ' LAUNDRY,CLEANING, AND GARMENT SERVICES BP721',
       ' LAUNDRY (OTHER), CLEANING & GARMENT SERVICES BP7219',
       ' EQUIPMENT RENTAL,LEASING(EXCEPT COMPUTER OR AUTO) BP735',
       ' HOLDING INV. CO. EXCEPT BANK HOLDING CO. BP67',
       ' NON-RESIDENTIAL BUILDING BP154', ' VIDEO TAPE RENTAL STORE BP784',
       ' OTHER MANUFACTURING INDUSTRIES BP39', ' ANIMAL SERVICES BP075',
       ' BAKERIES SELLING AT RETAIL BP205',
       ' EATING PLACES (RESTAURANTS) BP5812',
       ' CUTLERY, HAND TOOLS & HARWARE, SCREW MACHINE PROD BP342',
       ' ACCESS LINE TAX - TELECOMMUNICATION SVCS AL493',
       ' PHYSICAL FITNESS FACILITIES BP7991',
       ' MOTION PICTURE THEATERS BP783',
       ' ROOMING AND BOARDING HOUSES HT702',
       ' ROOMING AND BOARDING HOUSES BP702',
       ' AUTOMOTIVE SERVICES(WASH,TOWING,ETC) BP754',
       ' OTHER TRANSPORTAION EQUIPMENT, EXCEPT MOTOR VEHICLBP379',
       ' MEAT PRODUCTS BP201',
       ' INVESTIGATIVE AND PROTECTIVE SERVICES BP7381',
       ' INVESTIGATIVE AND PROTECTIVE SERVICES BP738',
       ' GASOLINE SERVICE STATIONS BP554',
       ' OTHER ELECTRICAL EQUIPMENT BP369',
       ' AUTOMOTIVE RENTAL OR LEASING,WITHOUT DRIVER BP751',
       ' DENTAL LABORATORIES BP8072',
       ' OSTEOPATHIC PHYSICIANS AND SURGEONS BP803',
       ' TRANSPORTATION BY AIR BP45', ' MISC. REPAIR SERVICES RF9001',
       ' MISC. REPAIR SERVICES BP76', ' STATIONERY STORES BP5943',
       ' MUSIC AND RECORD STORES BP573',
       ' USED MERCHANDISE,ANTIQUE STORES(EXC.USED MOTOR) BP593',
       ' SELLING DOOR-TO-DOOR,BY PHONE/PARTY PLAN,MOBILE BP5963',
       ' HEALTH SERVICES BP809', ' PARKING,EXCEPT VALET PK752',
       ' NON-PROFIT GARAGES - SOLE PROPRIETORSHIPS PK752',
       ' AGENT/BROKER - DURABLE BP50',
       ' RETAIL NURSERIES AND GARDEN STORES BP526',
       ' PUBLIC WAREHOUSING BP422',
       " WOMEN'S ACCESSORY AND SPECIALTY STORES BP563",
       ' FOOD STORES(MEAT,PRODUCE,CANDY,ETC) BP54',
       ' ADVERTISING, EXCEPT DIRECT MAIL BP73',
       ' ADVERTISING,EXCEPT DIRECT MAIL BP731',
       ' AGENT/BROKER FOR OTHER FIRMS WITH 1/2 OF SALE BP50',
       ' BAKERY PRODUCTS BP205',
       ' SMALL BUSINESS INVESTMENT COMPANIES BP672',
       ' ENGINEERING,SURVEYING, AND ARCHITECTUAL BP871',
       ' CONSULTING SERVICES BP8748', ' PRINTING AND PUBLISHING BP27',
       ' HORTICULTURE & LANDSCAPING BP078',
       ' HOUSEHOLD APPLIANCE STORES BP572',
       ' BLDG TRADE CONTRACTOR(EXCAVATION,GLAZING,ETC BP179',
       ' CATALOG OR MAIL ORDER BP5961', ' MEDICAL LABORATORIES BP8071',
       ' MEDICAL LABORATORIES BP807',
       ' MAIL, REPROD, COMM. ART, PHOTO & STENOS SE BP733',
       ' INVESTMENT CLUBS BP672', ' TEACHING OR TURTORING BP829',
       ' CARPET AND UPHOLSTERY CLEANING BP7217',
       ' MOTION PICTURE & VIDEO PRODUCTION BP781',
       ' BUS AND LIMOUSINE TRANSPORTATION BP414', ' SOCIAL SERVICES BP83',
       ' NURSING AND PERSONAL CARE FACILITIES BP805',
       ' PAINT,GLASS,AND WALLPAPER STORES BP523', ' DRUG STORES BP591',
       ' CHILD DAY CARE BP835',
       ' OFFICES & CLINICS - OTH PRACTITONERS BP8049',
       ' FURNITURE & FIXTURES BP25', ' FURNITURE STORES BP5712',
       ' HOME FURNISHINGS STORES(CHINA,FLOOR COVER.) BP5719',
       ' SHOE STORES BP566', ' DRINKING PLACES BP5813',
       ' MEDICAL AND HEALTH SERVICES BP80',
       ' STONE, CLAY & GLASS PRODUCTS BP32',
       ' AMUSEMENT AND RECREATION SERVICES BP79',
       ' COIN-OPERATED LAUNDRIES AND DRY CLEANING BP721',
       ' COIN OPERATED LAUNDRIES AND DRY CLEANING BP7215',
       ' NURSERIES AND GARDEN SUPPLY STORES BP526',
       ' WATER TRANSPORTATION BP44', ' WATER TRANSPORTATION BP9001',
       ' SURVEYING SERVICES BP8713', ' MISC. PLASTIC PRODUCTS BP308',
       " WOMEN'S READY-TO-WEAR STORES BP562",
       ' COUNSELING(EXCEPT HEALTH PRACTITIONERS) BP832',
       ' OTHER MISC. RETAIL STORES BP5999',
       ' GENERAL AUTOMOTIVE REPAIRS BP7538',
       ' SUBDIVIDERS AND DEVELOPERS BP655',
       ' TRANSPORTATION AND RELATED SERVICES BP47',
       ' VARIETY STORES BP533', ' SHOE REPAIR AND SHINE SERVICES BP725',
       ' COMPUTER AND DATA PROCESSING SERVICES BP737',
       ' FRUIT STORES AND VEGETABLE MARKETS BP543',
       ' SPECIALIZED AUTOMOTIVE REPAIRS BP753',
       ' MOTION PICTURE,TV FIRM,TAPE ACTIVITIES BP78',
       " DRUGS,DRUG PROPRIETARIES,AND DRUGGISTS' SUNDRIES BP512",
       ' INVESTMENT ADVISERS & SERVICES BP6282', ' CHIROPRACTORS BP804',
       ' ROOFING, SIDING, AND SHEET METAL RF176', ' PERIODICALS BP2721',
       ' OPTICAL GOODS STORE BP5995', ' AUTO REPAIR AND SERVICES BP7538',
       ' APPAREL AND OTHER TEXTILE PRODUCTS BP23',
       ' CRUDE PETROLEUM,NATURAL GAS,NATURAL GAS LIQUIDS BP13',
       ' INSURANCE SVCS (APPRAISAL,CONSULTING,INSPECTION) BP641',
       ' THEATRICAL PERFORMERS,MUSICIANS,AGENTS,PRODUCERS BP7922',
       ' TAXICABS BP412', ' CONCRETE WORK BP177',
       ' AUTOMOTIVE SERVICES, EXCEPT REPAIR BP754',
       ' HOLDING AND INVESTMENT COMPANIES BP67',
       ' COMPUTER,DATA PROCESSING,REPAIR AND LEASING BP737',
       ' MISCELLANEOUS REPAIR SHOPS BP76',
       ' VIDEOTAPE RENTAL STORES BP784', ' CATERING SERVICES BP7299',
       ' PRODUCERS,ORCHESTRAS AND ENTERTAINERS BP792',
       ' MASONRY, DRY WALL, STONE, TILE BP174',
       ' BOOKS, GREETING CARDS, AND MISC. PUBLISHING BP27',
       ' VENDING MACHINE SELLING BP5962',
       ' ELECTRICAL EQUIPMENT REPAIR BP762',
       ' SPORTING GOODS AND BICYCLE SHOPS BP5941',
       ' TRUCKING(EXCEPT TRASH COLLECTION) BP421',
       ' BUILDING MATERIALS DEALERS BP521',
       ' OTHER SERVICES NOT CLASSIFIED ELSEWHERE BP89C 07 0400 AGRICULTURAL PRODUCTION BP99',
       ' SECURITY UNDERWRITING SYNDICATES BP6289',
       ' SECURITY BROKERS BP62',
       ' PLUMBING AND HEATING, EXCEPT ELECTRIC & WARM AIR BP343',
       ' INDUSTRIAL CHEMICALS, PLASTIC, SYNTHETICS BP281',
       ' OPTICAL, MEDICAL AND OPTHALMIC GOODS BP38',
       ' ELECTRONIC COMPONENTS AND ACCESSORIES BP367',
       ' RADIO, TELEVISION AND COMMUNICATION EQUIPMENT BP365',
       ' TRASH COLLECTION W/O OWN DUMP BP4953',
       ' LUGGAGE AND LEATHER GOODS STORE BP5948',
       ' RUBBER PRODUCTS, PLASTIC FOOTWEAR, HOSE & BELTING BP30',
       ' MOTOR VEHICLE DEALERS BP55',
       ' HEAVY CONSTR(PIPE LAYING,BRIDGE CONSTR,ETC) BP162',
       ' MEDICAL LABORATORIES BP8071S 07 9696 PROFESSIONAL SPORTS,RACING, PROMOTERS/MANAGERS SD7941',
       ' OTHER PAPER PRODUCTS BP267',
       ' TV AND AUDIO EQUIPMENT REPAIR BP7622',
       ' CAMERA AND PHOTOGRAPHIC SUPPLY STORES BP5946',
       ' ELECTRICAL REPAIR SHOPS,EXCEPT RADIO AND TV BP762',
       ' TRANSPORTATION AND EQUIPMENT BP37',
       ' CAMERA AND PHOTO SUPPLY STORE BP5946', ' MUSIC STORES BP5736',
       " WOMEN'S READY-TO-WEAR STORES BP562S 08 3921 WOMEN'S ACCESSORY ,SPECIALTY STORES,FURRIERS BP563",
       ' FAMILY CLOTHING STORES BP565',
       ' AGRICULTURAL AND OTHER CHEMICAL PRODUCTS BP287',
       ' USED CAR DEALERS BP552',
       ' DIMENSION,CRUSHED/BROKEN STONES,SAND AND GRAVEL BP14',
       ' PUBLIC RELATIONS BP8743', ' TV,AUDIO,AND ELECTRONICS BP5731',
       ' DAIRY PRODUCTS BP202', ' REGISTERED AND PRACTICAL NURSES BP805',
       ' GLASS PRODUCTS BP32',
       ' GARDEN SUPPLIES AND MOBILE HOME DEALERS BP52',
       ' PHOTOGRAPHIC EQUIPMENT AND SUPPLIES BP386',
       ' SCIENTIFIC INSTRUMENTS AND MEASURING DEVICES BP382',
       ' METAL MINING BP10', " MEN'S AND BOYS' CLOTHING STORES BP561",
       ' COMPUTER LEASING, REPAIR & MAINTENANCE BP7378',
       ' COMPUTER LEASING, REPAIR AND MAINTENANCE BP737',
       ' COMPUTER LEASING, REPAIR AND MAINTENANCE BP7378',
       ' MANAGEMENT SERVICES BP8742',
       ' PAINTING,PAPERHANGING AND DECORATING BP172', ' NEWSPAPERS BP2711',
       ' PRINTING AND PUBLISHING BP27P 13 2800 CHEMICAL AND ALLIED PRODUCTS BP28',
       ' COMBINATION UTILITY SERVICES UT493',
       ' COPPER,LEAD,ZINC,GOLD AND SILVER ORES BP10',
       ' NONMETALLIC MINERALS,EXCEPT FUELS BP14',
       ' OTHER LEATHER AND LEATHER PRODUCTS BP31',
       ' PRIMARY METAL PRODUCTS BP33',
       ' PHOTOGRAPHIC STUDIOS AND PORTRAIT STUDIOS BP722',
       ' UTILITIES UT49', ' PASSENGER TRANSPORTATION BP41',
       ' OTHER TRANSPORTATION SERVICES BP41',
       ' CANDY,NUT AND CONFECTIONERY STORES BP544',
       ' UTILITIES, INCLUDING DUMPS, SNOWPLOWING BP49',
       ' COMPUTER AND SOFTWARE STORES BP5734', ' CREDIT AGENCIES BP60',
       ' OHTER CREDIT AGENCIES BP60',
       ' COMMUNICATION UT48P 10 4822 ACCESS LINE TAX - TELECOMMUNICATION SVCS AL493',
       ' LOGGING BP241', ' LUMBER & OTHER WOOD PRODUCTS BP24',
       ' HOME FURNISHINGS,EXCEPT APPLIANCES BP5719',
       ' AIRCRAFT AND OTHER AUTOMOTIVE DEALERS BP559',
       ' TRUCKING(LOCAL/LONG DIST),EXC.TRASH COLLECTION BP421',
       ' COMMUNICATION SERVICES UT48',
       ' AUTO AND HOME SUPPLY STORES BP553',
       ' BANKS, EXCEPT MUTUAL SAVINGS BANKS BP602',
       ' CREDIT INSTITUTIONS & MORTGAGE BANKERS BP61',
       ' MASONRY, DRYWALL, STONE, TILE BP174',
       ' SECURITY AND COMMODITY BROKERS,DEALERS & INV SVCS BP60',
       ' CREDIT AGENCIES OTHER THAN BANKS BP606',
       ' BUSINESS CREDIT INSTITUTIONS BP606',
       ' SPORTING AND RECREATIONAL CAMPS BP7032',
       ' LUGGAGE AND LEATHER GOODS STORES BP5948',
       ' RACING,INCLUDING TRACK OPERATION BP7948',
       ' USED MERCHANDISE,ANTIQUE STORES(EXC.MOTOR PARTS) BP593',
       ' SPORTING GOODS STORES AND BICYCLE SHOPS BP5941', ' LOGGING BP24',
       ' LUMBER & OTHER FOOD PRODUCTS BP24',
       ' PERSONAL CREDIT INSTITUTIONS BP614',
       ' MACHINERY & MACHINE SHOPS BP35',
       " CHILDREN'S AND INFANTS' WEAR STORES BP564",
       ' HOBBY,TOY,AND GAME SHOPS BP5945',
       " MEN'S AND BOYS' CLOTHING AND FURNISHINGS BP561",
       ' VETERINARY SERVICES INCLUDING FEES BP074',
       ' FABRICATED METAL BOXES BP34', ' MOBILE HOME DEALERS BP527',
       ' SAVINGS AND LOAN ASSOCIATIONS BP603',
       ' MINISTERS AND CHAPLAINS BP832', ' DAIRY PRODUCT STORES BP545',
       ' BOAT DEALERS BP555', ' FOOTWEAR EXCEPT RUBBER BP314',
       ' OIL AND GAS FIELD SERVICES BP138',
       ' BLDG TRADE CONTR(EXCAVATION,GLAZING,ETC) BP179',
       ' LESSOR OF REAL PROPERTY OTHER THAN BUILDINGS BP9001',
       ' BOTTLED SOFT DRINKS AND FLAVORINGS BP208',
       ' HIGHWAY AND STREET CONSTRUCTION BP161',
       ' COMMODITY CONTRACT BROKERS & DEALERS & SEC EXCHGS BP622',
       ' MISCELLANEOUS FABRICATED TEXTILE PRODUCTS BP239',
       ' FARM LABOR & MANAGEMENT BP076'], dtype=object)

# sfpd

In [202]:
df = pd.read_csv('../data/sfpd/SFPD_Incidents_-_from_1_January_2003.csv')
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,150912717,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Sunday,10/18/2015,23:54,TARAVAL,"ARREST, BOOKED",19TH AV / HOLLOWAY AV,-122.475222,37.721057,"(37.7210571460375, -122.475222189932)",15091271765016
1,150912745,BURGLARY,"BURGLARY, HOT PROWL, FORCIBLE ENTRY",Sunday,10/18/2015,23:37,CENTRAL,"ARREST, BOOKED",700 Block of BAY ST,-122.419359,37.804838,"(37.8048384367685, -122.419359266314)",15091274505081
2,150912698,OTHER OFFENSES,TRAFFIC VIOLATION,Sunday,10/18/2015,23:34,INGLESIDE,"ARREST, BOOKED",PERSIA AV / DUBLIN ST,-122.426390,37.718561,"(37.7185612508135, -122.426390080828)",15091269865015
3,150912795,ASSAULT,THREATS AGAINST LIFE,Sunday,10/18/2015,23:30,TENDERLOIN,"ARREST, BOOKED",200 Block of LEAVENWORTH ST,-122.414218,37.783259,"(37.7832593295025, -122.414217804322)",15091279519057
4,150912701,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,10/18/2015,23:30,SOUTHERN,NONE,1000 Block of MARKET ST,-122.411340,37.781271,"(37.7812707434494, -122.411339562557)",15091270103074

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1830772 entries, 0 to 1830771
Data columns (total 13 columns):
IncidntNum    int64
Category      object
Descript      object
DayOfWeek     object
Date          object
Time          object
PdDistrict    object
Resolution    object
Address       object
X             float64
Y             float64
Location      object
PdId          int64
dtypes: float64(2), int64(2), object(9)
memory usage: 195.5+ MB

In [204]:
def listcols(df):
    for i in df.columns: print i

In [205]:
listcols(df)

IncidntNum
Category
Descript
DayOfWeek
Date
Time
PdDistrict
Resolution
Address
X
Y
Location
PdId

In [212]:
%run ../code/makedbs.py

In [214]:
make_sfpd()

In [226]:
list(df.Category.unique())

['OTHER OFFENSES',
 'BURGLARY',
 'ASSAULT',
 'ROBBERY',
 'WARRANTS',
 'VANDALISM',
 'NON-CRIMINAL',
 'LARCENY/THEFT',
 'STOLEN PROPERTY',
 'FORGERY/COUNTERFEITING',
 'VEHICLE THEFT',
 'SUSPICIOUS OCC',
 'DRUG/NARCOTIC',
 'TRESPASS',
 'FRAUD',
 'WEAPON LAWS',
 'MISSING PERSON',
 'SECONDARY CODES',
 'SEX OFFENSES, FORCIBLE',
 'PORNOGRAPHY/OBSCENE MAT',
 'ARSON',
 'DISORDERLY CONDUCT',
 'LOITERING',
 'DRIVING UNDER THE INFLUENCE',
 'LIQUOR LAWS',
 'DRUNKENNESS',
 'GAMBLING',
 'KIDNAPPING',
 'PROSTITUTION',
 'EXTORTION',
 'BRIBERY',
 'SUICIDE',
 'RUNAWAY',
 'FAMILY OFFENSES',
 'BAD CHECKS',
 'EMBEZZLEMENT',
 'SEX OFFENSES, NON FORCIBLE',
 'TREA',
 'RECOVERED VEHICLE']

In [230]:
df.groupby('Category').count().sort_values(by='Descript', ascending=False)

,Descript,Date,Time,PdDistrict,Address,X,Y
Category,,,,,,,
LARCENY/THEFT,370893,370893,370893,370893,370893,370893,370893
OTHER OFFENSES,261402,261402,261402,261402,261402,261402,261402
NON-CRIMINAL,193889,193889,193889,193889,193889,193889,193889
ASSAULT,160375,160375,160375,160375,160375,160375,160375
VEHICLE THEFT,111328,111328,111328,111328,111328,111328,111328
DRUG/NARCOTIC,109631,109631,109631,109631,109631,109631,109631
VANDALISM,93494,93494,93494,93494,93494,93494,93494
WARRANTS,87283,87283,87283,87283,87283,87283,87283
BURGLARY,76559,76559,76559,76559,76559,76559,76559
SUSPICIOUS OCC,65614,65614,65614,65614,65614,65614,65614
MISSING PERSON,53935,53935,53935,53935,53935,53935,53935
ROBBERY,47419,47419,47419,47419,47419,47419,47419
FRAUD,34903,34903,34903,34903,34903,34903,34903
FORGERY/COUNTERFEITING,21516,21516,21516,21516,21516,21516,21516
SECONDARY CODES,20924,20924,20924,20924,20924,20924,20924
WEAPON LAWS,17951,17951,17951,17951,17951,17951,17951
PROSTITUTION,15362,15362,15362,15362,15362,15362,15362
TRESPASS,15190,15190,15190,15190,15190,15190,15190
STOLEN PROPERTY,9740,9740,9740,9740,9740,9740,9740
"SEX OFFENSES, FORCIBLE",9175,9175,9175,9175,9175,9175,9175
DRUNKENNESS,8833,8833,8833,8833,8833,8833,8833
DISORDERLY CONDUCT,8729,8729,8729,8729,8729,8729,8729
RECOVERED VEHICLE,6346,6346,6346,6346,6346,6346,6346
DRIVING UNDER THE INFLUENCE,4834,4834,4834,4834,4834,4834,4834
KIDNAPPING,4756,4756,4756,4756,4756,4756,4756
RUNAWAY,3940,3940,3940,3940,3940,3940,3940
LIQUOR LAWS,3801,3801,3801,3801,3801,3801,3801
ARSON,3162,3162,3162,3162,3162,3162,3162
EMBEZZLEMENT,2520,2520,2520,2520,2520,2520,2520
LOITERING,2336,2336,2336,2336,2336,2336,2336
SUICIDE,1105,1105,1105,1105,1105,1105,1105
FAMILY OFFENSES,1062,1062,1062,1062,1062,1062,1062
BAD CHECKS,845,845,845,845,845,845,845
BRIBERY,647,647,647,647,647,647,647
EXTORTION,593,593,593,593,593,593,593
"SEX OFFENSES, NON FORCIBLE",326,326,326,326,326,326,326
GAMBLING,298,298,298,298,298,298,298
PORNOGRAPHY/OBSCENE MAT,46,46,46,46,46,46,46
TREA,10,10,10,10,10,10,10

In [235]:
%run ../code/makedbs.py
df = load_sfpd()
df = clean_sfpd(df)
print df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1830772 entries, 0 to 1830771
Data columns (total 7 columns):
Category      object
Descript      object
PdDistrict    object
Address       object
lon           float64
lat           float64
datetime      object
dtypes: float64(2), object(5)
memory usage: 111.7+ MB
None

,Category,Descript,PdDistrict,Address,lon,lat,datetime
0,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",TARAVAL,19TH AV / HOLLOWAY AV,-122.475222,37.721057,10/18/2015 23:54
1,BURGLARY,"BURGLARY, HOT PROWL, FORCIBLE ENTRY",CENTRAL,700 Block of BAY ST,-122.419359,37.804838,10/18/2015 23:37
2,OTHER OFFENSES,TRAFFIC VIOLATION,INGLESIDE,PERSIA AV / DUBLIN ST,-122.426390,37.718561,10/18/2015 23:34
3,ASSAULT,THREATS AGAINST LIFE,TENDERLOIN,200 Block of LEAVENWORTH ST,-122.414218,37.783259,10/18/2015 23:30
4,ROBBERY,"ROBBERY, BODILY FORCE",SOUTHERN,1000 Block of MARKET ST,-122.411340,37.781271,10/18/2015 23:30

In [236]:
listcols(df)

Category
Descript
PdDistrict
Address
lon
lat
datetime

In [239]:
%run ../code/makedbs.py
make_sfpd()

# US Census
## Age/gender

In [40]:
df = pd.read_csv('../data/uscensus/p12/DEC_10_SF1_P12.csv', skiprows=1)
print df.shape
df.head(1)

(7386, 52)

,Id,Id2,Geography,Total:,Male:,Male: - Under 5 years,Male: - 5 to 9 years,Male: - 10 to 14 years,Male: - 15 to 17 years,Male: - 18 and 19 years,...,Female: - 50 to 54 years,Female: - 55 to 59 years,Female: - 60 and 61 years,Female: - 62 to 64 years,Female: - 65 and 66 years,Female: - 67 to 69 years,Female: - 70 to 74 years,Female: - 75 to 79 years,Female: - 80 to 84 years,Female: - 85 years and over
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df.Geography[0]

'Block 1000, Block Group 1, Census Tract 101, San Francisco County, California'

In [44]:
def splitgeo(geo):
    s = geo.split(',')
    block = s[0].split(' ')[-1]
    blockgroup = s[1].split(' ')[-1]
    tract = s[2].split(' ')[-1]
    return block, blockgroup, tract
    
splitgeo(df.Geography[0])

('1000', '1', '101')

In [49]:
df.Geography[:2].apply(splitgeo)

0    (1000, 1, 101)
1    (1001, 1, 101)
Name: Geography, dtype: object

In [50]:
df['geovalues'] = df.Geography.apply(splitgeo)

In [51]:
cols = ['Block', 'Block_Group', 'Tract']
for n, col in enumerate(cols):
    df[col] = df.geovalues.apply(lambda x: x[n])
df.head(1)

,Id,Id2,Geography,Total:,Male:,Male: - Under 5 years,Male: - 5 to 9 years,Male: - 10 to 14 years,Male: - 15 to 17 years,Male: - 18 and 19 years,...,Female: - 65 and 66 years,Female: - 67 to 69 years,Female: - 70 to 74 years,Female: - 75 to 79 years,Female: - 80 to 84 years,Female: - 85 years and over,geovalues,Block,Block_Group,Tract
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,"(1000, 1, 101)",1000,1,101

In [26]:
%run code/makedbs.py
df = pd.read_csv('data/uscensus/p12/DEC_10_SF1_P12.csv', skiprows=1)
df = clean_usc_age_gender(df)
df.head(1)

,Block,Block_Group,Tract,Id2,Total,M,M_U5,M_5_9,M_10_14,M_15_17,...,F_50_54,F_55_59,F_60_61,F_62_64,F_65_66,F_67_69,F_70_74,F_75_79,F_80_84,F_85_over
0,101,1,1000,60750101001000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
for i in df.columns: print i

Block
Block_Group
Tract
Total
M
M_U5
M_5_9
M_10_14
M_15_17
M_18_19
M_20
M_21
M_22_24
M_25_29
M_30_34
M_35_39
M_40_44
M_45_49
M_50_54
M_55_59
M_60_61
M_62_64
M_65_66
M_67_69
M_70_74
M_75_79
M_80_84
M_85_over
F
F_U5
F_5_9
F_10_14
F_15_17
F_18_19
F_20
F_21
F_22_24
F_25_29
F_30_34
F_35_39
F_40_44
F_45_49
F_50_54
F_55_59
F_60_61
F_62_64
F_65_66
F_67_69
F_70_74
F_75_79
F_80_84
F_85_over

In [76]:
df.Tract.astype('int').unique()

array([1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010,
       1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021,
       1022, 1023, 1024, 1025, 1026, 1027, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 3000, 3001, 3002, 3003, 3004, 3005, 3006,
       3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 4000, 4001, 4002,
       4003, 4004, 2020, 2021, 1028, 1029, 1030, 1031, 2022, 2023, 2024,
       2025, 2026, 2027, 2028, 2029, 4005, 4006, 4007, 3015, 3016, 3017,
       3018, 3019, 4008, 4009, 4010, 5000, 5001, 5002, 5003, 5004, 5005,
       5006, 5007, 4011, 5008, 5009, 5010, 1032, 1033, 1034, 1035, 1036,
       1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047,
       1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058,
       1059, 1060, 1061, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
       2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 1062,
       1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073,
       1074, 1075, 1076, 1077, 1078, 1079, 1080, 4012, 4013, 4014, 3020,
       3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031,
       3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042,
       3043, 3044, 3045, 3046, 3047, 6000, 6001, 6002, 6003, 6004, 6005,
       6006, 6007, 6008, 6009, 6010, 6011, 6012, 6013, 6014, 6015, 6016,
       6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6026, 6027,
       6028, 6029, 6030, 6031, 6032, 2048, 2049, 2050, 4015, 4016, 4017,
       4018, 4019, 4020, 4021, 4022, 4023, 4024, 5011, 5012, 5013, 5014,
       5015, 5016, 5017, 5018, 5019, 5020, 4025, 4026, 4027, 4028, 5021,
       7000, 7001, 7002, 7003, 7004, 7005, 7006, 7007, 7008, 7009, 7010,
       7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 4029,
       4030, 4031, 4032, 4033, 4034, 1081, 1082, 1083, 1084, 1085, 1086,
       1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097,
       1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108,
       1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119,
       1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130,
       1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141,
       1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152,
       1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163,
       1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174,
       1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185,
       1186, 1187,    1,    2,    3,    4,    5,    6])

In [ ]:
%run code/makedbs.py
make_usc_age_gender()

## US Census household size

In [27]:
%run code/makedbs.py
df = load_usc_household()
print df.shape
df.head(1)

(7386, 11)

,Id,Id2,Geography,Total:,1-person household,2-person household,3-person household,4-person household,5-person household,6-person household,7-or-more-person household
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,0

In [28]:
%run code/makedbs.py
df = load_usc_household()
df = clean_usc_household(df)
df.head(1)

  Block Block_Group Tract             Id2  Total  p1  p2  p3  p4  p5  p6  p7
0   101           1  1000  60750101001000      0   0   0   0   0   0   0   0

In [96]:
fnames = []
for name in cnames:
    pp = ''
    if re.match('[0-9]', name): pp = 'p'
    fnames.append(pp + name)

In [97]:
fnames

['Block',
 'Block_Group',
 'Tract',
 'Total',
 'p1_person',
 'p2_person',
 'p3_person',
 'p4_person',
 'p5_person',
 'p6_person',
 'p7_person']

In [100]:
for i in df.columns: print i

Block
Block_Group
Tract
Total
p1
p2
p3
p4
p5
p6
p7

In [101]:
%run code/makedbs.py
make_usc_household()

## US Census population

In [31]:
%run code/makedbs.py
df = load_usc_pop()
df.head(1)

,Id,Id2,Geography,Total
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0

In [33]:
%run code/makedbs.py
df = load_usc_pop()
df = clean_usc_pop(df)
df.head(1)

  Block Block_Group Tract             Id2  Total
0   101           1  1000  60750101001000      0

In [34]:
for i in df.columns: print i

Block
Block_Group
Tract
Id2
Total

In [105]:
%run code/makedbs.py
make_usc_pop()

# Walkscore

In [106]:
conn = psycopg2.connect(dbname='hoodie', user='postgres', host='/tmp')
c = conn.cursor()

c.execute('SELECT * FROM walkscore_raw')

In [110]:
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

In [117]:
DATABASE = {
    'drivername': 'postgres',
    'host': 'localhost',
    'username': 'postgres',
    'database': 'hoodie'
}

In [119]:
URL(**DATABASE)

postgres://postgres@localhost/hoodie

In [120]:
engine = create_engine(URL(**DATABASE))

In [123]:
with engine.connect() as conn, conn.begin():
    df = pd.read_sql_table('walkscore_raw', conn)
df.head()

,description,help_link,logo_url,more_info_icon,more_info_link,snapped_lat,snapped_lon,status,updated,walkscore,ws_link,searched_lat,searched_lon
0,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7190,-122.5185,1,2013-08-10 17:19:49.723670,1,https://www.walkscore.com/score/loc/lat=37.719...,37.719347,-122.518079
1,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7205,-122.5185,1,2015-06-16 02:11:34.261700,0,https://www.walkscore.com/score/loc/lat=37.720...,37.720717,-122.518079
2,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7220,-122.5185,1,2013-08-10 17:20:27.329400,2,https://www.walkscore.com/score/loc/lat=37.722...,37.722088,-122.518079
3,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7235,-122.5185,1,2014-09-05 10:53:05.520620,0,https://www.walkscore.com/score/loc/lat=37.723...,37.723458,-122.518079
4,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7250,-122.5185,1,2015-06-16 02:11:33.920510,0,https://www.walkscore.com/score/loc/lat=37.724...,37.724829,-122.518079

In [2]:
%run code/makedbs.py
df = get_db('walkscore_raw')
print df.shape
df.head()

(5476, 13)

,description,help_link,logo_url,more_info_icon,more_info_link,snapped_lat,snapped_lon,status,updated,walkscore,ws_link,searched_lat,searched_lon
0,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7190,-122.5185,1,2013-08-10 17:19:49.723670,1,https://www.walkscore.com/score/loc/lat=37.719...,37.719347,-122.518079
1,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7205,-122.5185,1,2015-06-16 02:11:34.261700,0,https://www.walkscore.com/score/loc/lat=37.720...,37.720717,-122.518079
2,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7220,-122.5185,1,2013-08-10 17:20:27.329400,2,https://www.walkscore.com/score/loc/lat=37.722...,37.722088,-122.518079
3,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7235,-122.5185,1,2014-09-05 10:53:05.520620,0,https://www.walkscore.com/score/loc/lat=37.723...,37.723458,-122.518079
4,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7250,-122.5185,1,2015-06-16 02:11:33.920510,0,https://www.walkscore.com/score/loc/lat=37.724...,37.724829,-122.518079

In [151]:
%run code/makedbs.py
df = get_db('walkscore_raw')
df = clean_walkscore(df)
print df.shape
print df.info()
df.head()

(5032, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5032 entries, 0 to 5475
Data columns (total 7 columns):
snapped_lat     5032 non-null float64
snapped_lon     5032 non-null float64
walkscore       5032 non-null int64
description     5032 non-null object
updated         5032 non-null datetime64[ns]
searched_lat    5032 non-null float64
searched_lon    5032 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 314.5+ KB
None

,snapped_lat,snapped_lon,walkscore,description,updated,searched_lat,searched_lon
0,37.7190,-122.5185,1,Car-Dependent,2013-08-10 17:19:49.723670,37.719347,-122.518079
1,37.7205,-122.5185,0,Car-Dependent,2015-06-16 02:11:34.261700,37.720717,-122.518079
2,37.7220,-122.5185,2,Car-Dependent,2013-08-10 17:20:27.329400,37.722088,-122.518079
3,37.7235,-122.5185,0,Car-Dependent,2014-09-05 10:53:05.520620,37.723458,-122.518079
4,37.7250,-122.5185,0,Car-Dependent,2015-06-16 02:11:33.920510,37.724829,-122.518079

In [152]:
for i in df.columns: print i

snapped_lat
snapped_lon
walkscore
description
updated
searched_lat
searched_lon

In [153]:
%run code/makedbs.py
make_walkscore()

# Shapefiles

In [13]:
df = load_usc_pop()
df = clean_usc_pop(df)
df.head()

  Block Block_Group Tract  Total
0   101           1  1000      0
1   101           1  1001     44
2   101           1  1002      0
3   101           1  1003      0
4   101           1  1004      1

In [8]:
print df.Id2.unique().min()
print df.Id2.unique().max()

60750101001000
60759901000006

In [14]:
%cd ..

/Users/crupley/gal/hoodie

In [36]:
%run code/shapefiles.py
rdf = sf_to_df('data/uscensus/tl_2010_06075_tabblock10/tl_2010_06075_tabblock10.dbf')
print rdf.shape
print rdf.info()
rdf.head()

(7386, 11)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7386 entries, 0 to 7385
Data columns (total 11 columns):
state         7386 non-null object
county        7386 non-null object
tract         7386 non-null object
block         7386 non-null object
geoid         7386 non-null int64
name          7386 non-null object
mtfcc         7386 non-null object
land_area     7386 non-null int64
water_area    7386 non-null int64
lat           7386 non-null float64
lon           7386 non-null float64
dtypes: float64(2), int64(3), object(6)
memory usage: 692.4+ KB
None

,state,county,tract,block,geoid,name,mtfcc,land_area,water_area,lat,lon
0,06,075,021300,2002,60750213002002,Block 2002,G5040,16958,0,37.750067,-122.441075
1,06,075,021300,2000,60750213002000,Block 2000,G5040,16823,0,37.750196,-122.438933
2,06,075,020500,3004,60750205003004,Block 3004,G5040,17020,0,37.756794,-122.436270
3,06,075,021200,1003,60750212001003,Block 1003,G5040,16415,0,37.753529,-122.437050
4,06,075,021100,4001,60750211004001,Block 4001,G5040,17523,0,37.755758,-122.433400

In [37]:
for i in rdf.columns: print i

state
county
tract
block
geoid
name
mtfcc
land_area
water_area
lat
lon

In [19]:
%run code/makedbs.py
df = load_usc_shapefile()

In [21]:
#make_usc_shapefile()

In [44]:
make_usc_age_gender()

In [45]:
make_usc_household()

In [46]:
make_usc_pop()

In [47]:
make_usc_shapefile()