In [29]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

# assessment

In [2]:
df = pd.read_csv('../data/assessment/Secured_Property_Assessment_Roll_FY13_Q4.csv')

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Situs_Address,Situs_Zip,APN,RE,RE_Improvements,Fixtures_Value,PP_Value,District,Taxable_Value,geom
0,NaN,94102,0001001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8086657345267, -122.421558691582)"
1,NaN,94102,0002001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8087296429956, -122.420498649163)"
2,NaN,94102,0004002,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8085082551122, -122.415083280065)"
3,NaN,94102,0005001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8084147785698, -122.416681695182)"
4,NaN,94102,0006001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8083224324003, -122.418348971767)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null object
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: object(10)
memory usage: 17.2+ MB

In [5]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'Fixtures_Value',
 'PP_Value',
 'District',
 'Taxable_Value',
 'geom']

In [6]:
df.RE = df.RE.apply(lambda x: x.strip('$'))

In [7]:
df.RE = df.RE.astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null float64
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: float64(1), object(9)
memory usage: 17.2+ MB

In [67]:
%run ../code/makedbs.py

In [ ]:
make_assessment()

In [62]:
print df.info()
df.head()

AttributeError: 'NoneType' object has no attribute 'info'

In [61]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'PP_Value',
 'District',
 'Taxable_Value',
 'lat',
 'lon']

# business

In [65]:
df = pd.read_csv('../data/business/Registered_Business_Locations_-_San_Francisco.csv')
df.head()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,..."
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7..."
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74..."
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3..."
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3..."

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156111 entries, 0 to 156110
Data columns (total 17 columns):
Location_ID                156111 non-null object
Business_Account_Number    156111 non-null int64
Ownership_Name             156111 non-null object
DBA Name                   156109 non-null object
Street_Address             156109 non-null object
City                       155839 non-null object
State                      155463 non-null object
Zip_Code                   156067 non-null float64
Business_Start_Date        156111 non-null object
Business_End_Date          17770 non-null object
Location Start Date        156111 non-null object
Location_End_Date          26668 non-null object
Mail_Address               156110 non-null object
Mail_City_State_Zip        156110 non-null object
Class Code                 155969 non-null object
PBC Code                   155739 non-null object
Business_Location          155731 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 21.4+ MB

In [ ]:
df.columns