In [1]:
cd ..

/Users/crupley/gal/hoodie

In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

In [95]:
from code.makedbs import *
from code.featurize import *

# assessment

In [2]:
df = pd.read_csv('../data/assessment/Secured_Property_Assessment_Roll_FY13_Q4.csv')

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Situs_Address,Situs_Zip,APN,RE,RE_Improvements,Fixtures_Value,PP_Value,District,Taxable_Value,geom
0,NaN,94102,0001001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8086657345267, -122.421558691582)"
1,NaN,94102,0002001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8087296429956, -122.420498649163)"
2,NaN,94102,0004002,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8085082551122, -122.415083280065)"
3,NaN,94102,0005001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8084147785698, -122.416681695182)"
4,NaN,94102,0006001,$0.00,$0.00,NaN,$0.00,General Property,$0.00,"(37.8083224324003, -122.418348971767)"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null object
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: object(10)
memory usage: 17.2+ MB

In [5]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'Fixtures_Value',
 'PP_Value',
 'District',
 'Taxable_Value',
 'geom']

In [6]:
df.RE = df.RE.apply(lambda x: x.strip('$'))

In [7]:
df.RE = df.RE.astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204541 entries, 0 to 204540
Data columns (total 10 columns):
Situs_Address      202778 non-null object
Situs_Zip          204478 non-null object
APN                204541 non-null object
RE                 204541 non-null float64
RE_Improvements    204541 non-null object
Fixtures_Value     1146 non-null object
PP_Value           204541 non-null object
District           203974 non-null object
Taxable_Value      204541 non-null object
geom               204541 non-null object
dtypes: float64(1), object(9)
memory usage: 17.2+ MB

In [67]:
%run ../code/makedbs.py

In [68]:
make_assessment()

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2981: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [62]:
print df.info()
df.head()

AttributeError: 'NoneType' object has no attribute 'info'

In [61]:
list(df.columns)

['Situs_Address',
 'Situs_Zip',
 'APN',
 'RE',
 'RE_Improvements',
 'PP_Value',
 'District',
 'Taxable_Value',
 'lat',
 'lon']

# business

In [65]:
df = pd.read_csv('../data/business/Registered_Business_Locations_-_San_Francisco.csv')
df.head()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,..."
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7..."
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74..."
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3..."
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3..."

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156111 entries, 0 to 156110
Data columns (total 17 columns):
Location_ID                156111 non-null object
Business_Account_Number    156111 non-null int64
Ownership_Name             156111 non-null object
DBA Name                   156109 non-null object
Street_Address             156109 non-null object
City                       155839 non-null object
State                      155463 non-null object
Zip_Code                   156067 non-null float64
Business_Start_Date        156111 non-null object
Business_End_Date          17770 non-null object
Location Start Date        156111 non-null object
Location_End_Date          26668 non-null object
Mail_Address               156110 non-null object
Mail_City_State_Zip        156110 non-null object
Class Code                 155969 non-null object
PBC Code                   155739 non-null object
Business_Location          155731 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 21.4+ MB

In [71]:
for i in df.columns: print i

Location_ID
Business_Account_Number
Ownership_Name
DBA Name
Street_Address
City
State
Zip_Code
Business_Start_Date
Business_End_Date
Location Start Date
Location_End_Date
Mail_Address
Mail_City_State_Zip
Class Code
PBC Code
Business_Location

In [76]:
%run ../code/makedbs.py
make_business()

In [78]:
pbc = pd.read_csv('../data/business/Principal_Business_Code__PBC__List.csv')
print pbc.shape
pbc.head()

(672, 4)

,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
0,S,0,0,FIXED PLACE OF BUSINESS BP99
1,P,0,0,FIXED PLACE OF BUSINESS BP99
2,C,0,0,FIXED PLACE OF BUSINESS BP99
3,S,1,2634,AGENT/BROKER - DURABLE BP50
4,S,1,2675,AGENT/BROKER - NONDURABLE BP51

In [88]:
pbc.groupby('Business_Major_Class').count()

                      Ownership_Type  Business_Minor_Class  Description
Business_Major_Class
0                                  3                     3            3
1                                 30                    30           30
2                                 37                    37           37
3                                 20                    20           20
4                                 10                    10           10
5                                  8                     8            8
6                                 11                    11           11
7                                243                   243          243
8                                143                   143          143
9                                  7                     7            7
10                                15                    15           15
11                                 9                     9            9
12                                 3                     3            3
13                               123                   123          123
15                                 4                     4            4
16                                 3                     3            3
18                                 3                     3            3

In [106]:
pbc[pbc.Business_Major_Class == 8]

,Ownership_Type,Business_Major_Class,Business_Minor_Class,Description
362,S,8,612,BAKERIES SELLING AT RETAIL BP205
363,S,8,3012,"SELLING DOOR-TO-DOOR,BY PHONE/PARTY PLAN,MOBI..."
364,S,8,3038,CATALOG OR MAIL ORDER BP5961
365,S,8,3053,VENDING MACHINE SELLING BP5962
366,S,8,3079,EATING PLACES (MEALS OR SNACKS) RESTAURANTS B...
367,S,8,3095,DRINKING PLACES(ALCOHOLIC BEVERAGES) BP5813
368,S,8,3210,GROCERY STORES(GENERAL LINE) BP541
369,S,8,3236,"FOOD STORES(MEAT,PRODUCE,CANDY,ETC) BP54"
370,S,8,3251,LIQUOR STORES BP592
371,S,8,3277,DRUG STORES BP591
372,S,8,3319,NEW CAR DEALERS BP551
373,S,8,3335,USED CAR DEALERS BP552
374,S,8,3517,"AUTO DEALERS(MOTORCYCLES,RECREATION VECH.) BP55"
375,S,8,3533,"TIRES,ACCESSORIES,AND PARTS BP553"
376,S,8,3558,GASOLINE SERVICE STATIONS BP554
377,S,8,3715,VARIETY STORES BP533
378,S,8,3731,GENERAL MERCHANDISE STORES BP539
379,S,8,3756,SHOE STORES BP566
380,S,8,3772,MEN'S AND BOYS' CLOTHING STORES BP561
381,S,8,3913,WOMEN'S READY-TO-WEAR STORES BP562S 08 3921 W...
382,S,8,3939,FAMILY CLOTHING STORES BP565
383,S,8,3954,APPAREL AND ACCESSORY STORES BP569
384,S,8,3970,FURNITURE STORES BP571
385,S,8,3988,COMPUTER AND SOFTWARE STORES BP5734
386,S,8,3996,"TV,AUDIO,AND ELECTRONICS BP5731"
387,S,8,4119,HOUSEHOLD APPLIANCE STORES BP572
388,S,8,4317,"HOME FURNISHINGS STORES(CHINA,FLOOR COVER.) B..."
389,S,8,4333,MUSIC AND RECORD STORES BP573
390,S,8,4416,BUILDING MATERIALS DEALERS BP521
391,S,8,4432,"PAINT,GLASS,AND WALLPAPER STORES BP523"
...,...,...,...,...
475,C,8,4600,"PIPE LINES,EXCEPT NATURAL GAS BP46"
476,C,8,4700,MISCELLANEOUS TRANSPORTATION SERVICES BP47
477,C,8,4830,RADIO AND TELEVISION BROADCASTING BP483
478,C,8,5220,BUILDING MATERIALS DEALERS BP52
479,C,8,5251,HARDWARE STORES BP525
480,C,8,5265,GARDEN SUPPLIES AND MOBILE HOME DEALERS BP52
481,C,8,5300,GENERAL MERCHANDISE STORES BP53
482,C,8,5410,GROCERY STORES BP541
483,C,8,5490,OTHER FOOD STORES BP54
484,C,8,5495,OTHER RETAIL STORES BP599
485,C,8,5515,MOTOR VEHICLE DEALERS BP55
486,C,8,5541,GASOLINE SERVICE STATIONS BP554
487,C,8,5598,AUTOMOTIVE DEALERS BP55
488,C,8,5600,APPAREL AND ACCESSORY STORES BP56
489,C,8,5700,FURNITURE AND HOME FURNISHINGS STORES BP57
490,C,8,5800,EATING AND DRINKING PLACES (RESTAURANTS) BP58
491,C,8,5912,DRUG STORES AND PROPRIETARY STORES BP591
492,C,8,5921,LIQUOR STORES BP592
493,C,8,5995,RETAIL STORES BP59
494,C,8,6030,MUTUAL SAVINGS BANK BP60
495,C,8,6060,BANK HOLDING COMPANIES BP6712
496,C,8,6090,"BANKS, EXCEPT MUTUAL SAVINGS BANKS BP602"
497,C,8,6120,SAVINGS AND LOAN ASSOCIATIONS BP603
498,C,8,6140,PERSONAL CREDIT INSTITUTIONS BP614
499,C,8,6299,COMMODITY CONTRACT BROKERS AND DEALER SEC BP62
500,C,8,6355,LIFE INSURANCE BP631
501,C,8,6356,MUTUAL INSURANCE EXCEPT LIFE OR MARINE BP639
502,C,8,6359,OTHER INSURANCE COMPANIES BP639
503,C,8,7900,AMUSEMENT RECREATION SERVICE EXCEPT MOTION PI...
504,C,8,8888,UNABLE TO CLASSIFY BP99

In [104]:
df.groupby('Class Code').count()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,PBC Code,Business_Location
Class Code,,,,,,,,,,,,,,,,
00,23,23,23,23,23,23,23,23,23,0,23,3,23,23,23,23
01,3087,3087,3087,3087,3087,3086,3083,3087,3087,248,3087,435,3087,3087,3085,3079
02,12234,12234,12234,12234,12234,12183,12049,12232,12234,1418,12234,1823,12234,12234,12230,12190
03,9730,9730,9730,9730,9730,9730,9728,9730,9730,651,9730,1331,9730,9730,9618,9727
04,689,689,689,689,689,689,687,689,689,64,689,90,689,689,687,689
05,57,57,57,57,57,56,56,57,57,4,57,10,57,57,57,56
06,407,407,407,407,407,406,397,407,407,29,407,49,407,407,404,405
07,65906,65906,65906,65905,65906,65820,65760,65897,65906,6938,65906,10650,65906,65906,65823,65825
08,20322,20322,20322,20322,20322,20280,20229,20321,20322,2227,20322,3084,20322,20322,20305,20296
09,164,164,164,164,164,164,163,164,164,19,164,21,164,164,164,164
10,663,663,663,663,663,619,618,663,663,37,663,56,663,663,663,658
11,5292,5292,5292,5292,5292,5281,5281,5291,5292,564,5292,652,5292,5292,5291,5163
12,215,215,215,215,215,214,212,215,215,18,215,25,215,215,215,213
13,4497,4497,4497,4497,4497,4473,4386,4497,4497,475,4497,633,4497,4497,4492,4467
15,1449,1449,1449,1449,1449,1447,1442,1449,1449,124,1449,228,1449,1449,1448,1449
16,5,5,5,5,5,5,5,5,5,0,5,0,5,5,5,5
n.a.,31229,31229,31229,31228,31227,31222,31203,31198,31229,4953,31229,7563,31228,31228,31229,31180

In [112]:
major_names = {'00': 'fixed place of business',
               '01': 'agent, broker',
               '02': 'construction',
               '03': 'hotel',
               '04': 'laundry',
               '05': 'credit',
               '06': 'equipment rental',
               '07': 'mining, entertainment, medical',
               '08': 'clothing, furniture, auto, insurance',
               '09': 'warehouse',
               '10': 'utility',
               '11': 'taxi',
               '12': 'trucking',
               '13': 'industrial supply',
               '15': 'arcitectural',
               '16': 'garage',
               '18': 'firearms',
               'n.a.': 'n.a.'}

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Business_End_Date,Location Start Date,Location_End_Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location,major_class
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,...","clothing, furniture, auto, insurance"
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7...","mining, entertainment, medical"
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74...",hotel
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3...","mining, entertainment, medical"
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3...","mining, entertainment, medical"

In [178]:
%run ../code/makedbs.py
df = make_business()
print df.info()
df.head()

AttributeError: 'DataFrame' object has no attribute 'ilot'

In [165]:
def getlatlon(v):
    if type(v) == float: return 0, 0
    s = v.split('\n')[-1]
    if len(s) == 0: return 0, 0
    return eval(s)

In [159]:
s = np.array(s)
s[s == 0].shape

(5026,)

In [175]:
for i in df.columns: print i

Ownership_Name
DBA Name
Street_Address
City
State
Zip_Code
major_class
minor_class
lat
lon

In [199]:
%run ../code/makedbs.py

In [200]:
df = load_business()

In [201]:
df = clean_business(df)
df.head()

<string>:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
<string>:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,major_class,minor_class,lat,lon
0,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,"clothing, furniture, auto, insurance",0,43.161198,-77.619282
1,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.799779,-122.430988
2,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,hotel,0,37.748921,-122.465050
3,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.804734,-122.442997
4,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,"mining, entertainment, medical",0,37.800835,-122.444748

## reorganize business categories

In [115]:
bus = get_db('business_raw')
print bus.shape
bus.head()

(156111, 17)

,location_id,business_account_number,ownership_name,dba_name,street_address,city,state,zip_code,business_start_date,business_end_date,location_start_date,location_end_date,mail_address,mail_city_state_zip,class_code,pbc_code,business_location
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003,NaN,01/01/2003,NaN,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.161198,..."
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993,NaN,09/30/1993,NaN,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7..."
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968,NaN,10/01/1968,NaN,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74..."
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968,NaN,10/01/1968,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3..."
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968,NaN,05/01/1988,NaN,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3..."

In [110]:
from code.makedbs import *

In [118]:
major_names = {'00': 'Fixed Place of Business',
               '01': 'Commission Merchant or Broker (non-durable goods)',
               '02': 'General Contractors & Operative Builders',
               '03': 'Hotels, Apartments',
               '04': 'Coin-Operated Laundries, Dry Cleaning',
               '05': 'Credit Agencies, Lending Institutions',
               '06': 'Personal Property/Equipment Rental & Leasing',
               '07': 'Other Business Services',
               '08': 'Retail Sales',
               '09': 'Public Warehousing/Transportation/Storage/Freight Forwarding',
               '10': 'Communication Services; Utilities (Gas/Electric/Steam/Railroad)',
               '11': 'Transporting Persons for Hire',
               '12': 'Trucking/Hauling',
               '13': 'Wholesale Sales',
               '15': 'Architectural and Engingeering Services',
               '16': 'Non-Profit Garage Corporations',
               'n.a.': 'n.a.',
               'NaN': 'n.a.'}

In [119]:
busclean = bus[bus.location_end_date == 'NaN']
print busclean.shape
busclean['major_class'] = busclean.class_code.replace(major_names)
print busclean.shape

(129443, 17)
(129443, 18)

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [170]:
busclean = clean_business(bus)
#busclean = cut_df(busclean)
print busclean.shape
busclean.head()

(124417, 13)

,ownership_name,dba_name,street_address,city,state,zip_code,class_code,pbc_code,major_class,lat,lon,minor_class,category
0,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,08,5995,Retail Sales,43.161198,-77.619282,RETAIL STORES BP59,0
1,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,07,7520,Other Business Services,37.799779,-122.430988,"PARKING, AUTOMOBILE PK752",0
2,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,03,6511,"Hotels, Apartments",37.748921,-122.465050,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,0
3,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,07,211,Other Business Services,37.804734,-122.442997,BEEF CATTLE FEEDLOTS BP0211,0
4,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,07,211,Other Business Services,37.800835,-122.444748,BEEF CATTLE FEEDLOTS BP0211,0

In [171]:
busclean.groupby('class_code').count()

,ownership_name,dba_name,street_address,city,state,zip_code,pbc_code,major_class,lat,lon,minor_class,category
class_code,,,,,,,,,,,,
00,19,19,19,19,19,19,19,19,19,19,19,19
01,2579,2579,2579,2579,2579,2579,2579,2579,2579,2579,2579,2579
02,9800,9800,9800,9800,9800,9799,9800,9800,9800,9800,9800,9800
03,8161,8161,8161,8161,8161,8161,8161,8161,8161,8161,8161,8161
04,587,587,587,587,587,587,587,587,587,587,587,587
05,46,46,46,46,46,46,46,46,46,46,46,46
06,332,332,332,332,332,332,332,332,332,332,332,332
07,53542,53542,53542,53542,53542,53537,53542,53542,53542,53542,53542,53542
08,16552,16552,16552,16552,16552,16552,16552,16552,16552,16552,16552,16552
09,134,134,134,134,134,134,134,134,134,134,134,134
10,534,534,534,534,534,534,534,534,534,534,534,534
11,4234,4234,4234,4234,4234,4233,4234,4234,4234,4234,4234,4234
12,176,176,176,176,176,176,176,176,176,176,176,176
13,3644,3644,3644,3644,3644,3644,3644,3644,3644,3644,3644,3644
15,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186
16,5,5,5,5,5,5,5,5,5,5,5,5
NaN,123,123,123,123,123,123,123,123,123,123,123,123
n.a.,22763,22763,22763,22763,22763,22742,22763,22763,22763,22763,22763,22763

In [167]:
codes = pd.read_csv('data/business/Principal_Business_Code__PBC__List.csv')
print codes.shape
codes.head()
codes.drop(['Ownership_Type', 'Business_Major_Class'], axis=1, inplace=True)
codes.set_index('Business_Minor_Class', inplace=True)
#codes = pd.Series(codes)
codes.Description.ix[5995]

(672, 4)

' RETAIL STORES BP59'

In [146]:
type(codes)

pandas.core.frame.DataFrame

In [168]:
busclean.pbc_code.replace(codes.Description)

0                                        RETAIL STORES BP59
1                                 PARKING, AUTOMOBILE PK752
2          (APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...
3                               BEEF CATTLE FEEDLOTS BP0211
4                               BEEF CATTLE FEEDLOTS BP0211
5                               BEEF CATTLE FEEDLOTS BP0211
7                               BEEF CATTLE FEEDLOTS BP0211
8                               BEEF CATTLE FEEDLOTS BP0211
9                                     ELECTRICAL WORK BP173
10               FURNITURE AND HOME FURNISHINGS STORES BP57
11               FURNITURE AND HOME FURNISHINGS STORES BP57
12          AUTO DEALERS(MOTORCYCLES,RECREATION VECH.) BP55
13                                  BUSINESS SERVICES BP738
14                                  BUSINESS SERVICES BP738
15                     ROOFING,SIDING,AND SHEET METAL RF176
16                    JANITORIAL AND RELATED SERVICES BP734
17                    JANITORIAL AND RELATED SERVICES BP734
18                                  UNABLE TO CLASSIFY BP99
19                                EDUCATIONAL SERVICES BP82
20                                EDUCATIONAL SERVICES BP82
21                                EDUCATIONAL SERVICES BP82
22                                EDUCATIONAL SERVICES BP82
23                                EDUCATIONAL SERVICES BP82
24                                EDUCATIONAL SERVICES BP82
25                                EDUCATIONAL SERVICES BP82
26                                EDUCATIONAL SERVICES BP82
27                                EDUCATIONAL SERVICES BP82
28                                EDUCATIONAL SERVICES BP82
29                                EDUCATIONAL SERVICES BP82
30                                EDUCATIONAL SERVICES BP82
                                ...
156076                              UNABLE TO CLASSIFY BP99
156077                              UNABLE TO CLASSIFY BP99
156078                              UNABLE TO CLASSIFY BP99
156079                              UNABLE TO CLASSIFY BP99
156080                              UNABLE TO CLASSIFY BP99
156081                              UNABLE TO CLASSIFY BP99
156082                              UNABLE TO CLASSIFY BP99
156083                              UNABLE TO CLASSIFY BP99
156084                              UNABLE TO CLASSIFY BP99
156085                              UNABLE TO CLASSIFY BP99
156086                              UNABLE TO CLASSIFY BP99
156087                              UNABLE TO CLASSIFY BP99
156088                              UNABLE TO CLASSIFY BP99
156089                              UNABLE TO CLASSIFY BP99
156090                              UNABLE TO CLASSIFY BP99
156091                              UNABLE TO CLASSIFY BP99
156092                              UNABLE TO CLASSIFY BP99
156096                              UNABLE TO CLASSIFY BP99
156097                              UNABLE TO CLASSIFY BP99
156098                              UNABLE TO CLASSIFY BP99
156099                              UNABLE TO CLASSIFY BP99
156100                              UNABLE TO CLASSIFY BP99
156101                              UNABLE TO CLASSIFY BP99
156102                              UNABLE TO CLASSIFY BP99
156104                              UNABLE TO CLASSIFY BP99
156105                              UNABLE TO CLASSIFY BP99
156107                              UNABLE TO CLASSIFY BP99
156108                              UNABLE TO CLASSIFY BP99
156109                              UNABLE TO CLASSIFY BP99
156110                              UNABLE TO CLASSIFY BP99
Name: pbc_code, dtype: object

In [172]:
busclean.head()

,ownership_name,dba_name,street_address,city,state,zip_code,class_code,pbc_code,major_class,lat,lon,minor_class,category
0,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,08,5995,Retail Sales,43.161198,-77.619282,RETAIL STORES BP59,0
1,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,07,7520,Other Business Services,37.799779,-122.430988,"PARKING, AUTOMOBILE PK752",0
2,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,03,6511,"Hotels, Apartments",37.748921,-122.465050,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,0
3,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,07,211,Other Business Services,37.804734,-122.442997,BEEF CATTLE FEEDLOTS BP0211,0
4,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,07,211,Other Business Services,37.800835,-122.444748,BEEF CATTLE FEEDLOTS BP0211,0

In [160]:
busclean.groupby('major_class').count().sort_values('ownership_name', ascending=False)

,ownership_name,dba_name,street_address,city,state,zip_code,class_code,pbc_code,lat,lon,minor_class,category
major_class,,,,,,,,,,,,
Other Business Services,53542,53542,53542,53542,53542,53537,53542,53542,53542,53542,53542,53542
n.a.,22886,22886,22886,22886,22886,22865,22886,22886,22886,22886,22886,22886
Retail Sales,16552,16552,16552,16552,16552,16552,16552,16552,16552,16552,16552,16552
General Contractors & Operative Builders,9800,9800,9800,9800,9800,9799,9800,9800,9800,9800,9800,9800
"Hotels, Apartments",8161,8161,8161,8161,8161,8161,8161,8161,8161,8161,8161,8161
Transporting Persons for Hire,4234,4234,4234,4234,4234,4233,4234,4234,4234,4234,4234,4234
Wholesale Sales,3644,3644,3644,3644,3644,3644,3644,3644,3644,3644,3644,3644
Commission Merchant or Broker (non-durable goods),2579,2579,2579,2579,2579,2579,2579,2579,2579,2579,2579,2579
Architectural and Engingeering Services,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186,1186
"Coin-Operated Laundries, Dry Cleaning",587,587,587,587,587,587,587,587,587,587,587,587
Communication Services; Utilities (Gas/Electric/Steam/Railroad),534,534,534,534,534,534,534,534,534,534,534,534
Personal Property/Equipment Rental & Leasing,332,332,332,332,332,332,332,332,332,332,332,332
Trucking/Hauling,176,176,176,176,176,176,176,176,176,176,176,176
Public Warehousing/Transportation/Storage/Freight Forwarding,134,134,134,134,134,134,134,134,134,134,134,134
"Credit Agencies, Lending Institutions",46,46,46,46,46,46,46,46,46,46,46,46
Fixed Place of Business,19,19,19,19,19,19,19,19,19,19,19,19
Non-Profit Garage Corporations,5,5,5,5,5,5,5,5,5,5,5,5

In [183]:
busclean.minor_class

0                                        RETAIL STORES BP59
1                                 PARKING, AUTOMOBILE PK752
2          (APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...
3                               BEEF CATTLE FEEDLOTS BP0211
4                               BEEF CATTLE FEEDLOTS BP0211
5                               BEEF CATTLE FEEDLOTS BP0211
7                               BEEF CATTLE FEEDLOTS BP0211
8                               BEEF CATTLE FEEDLOTS BP0211
9                                     ELECTRICAL WORK BP173
10               FURNITURE AND HOME FURNISHINGS STORES BP57
11               FURNITURE AND HOME FURNISHINGS STORES BP57
12          AUTO DEALERS(MOTORCYCLES,RECREATION VECH.) BP55
13                                  BUSINESS SERVICES BP738
14                                  BUSINESS SERVICES BP738
15                     ROOFING,SIDING,AND SHEET METAL RF176
16                    JANITORIAL AND RELATED SERVICES BP734
17                    JANITORIAL AND RELATED SERVICES BP734
18                                  UNABLE TO CLASSIFY BP99
19                                EDUCATIONAL SERVICES BP82
20                                EDUCATIONAL SERVICES BP82
21                                EDUCATIONAL SERVICES BP82
22                                EDUCATIONAL SERVICES BP82
23                                EDUCATIONAL SERVICES BP82
24                                EDUCATIONAL SERVICES BP82
25                                EDUCATIONAL SERVICES BP82
26                                EDUCATIONAL SERVICES BP82
27                                EDUCATIONAL SERVICES BP82
28                                EDUCATIONAL SERVICES BP82
29                                EDUCATIONAL SERVICES BP82
30                                EDUCATIONAL SERVICES BP82
                                ...
156076                              UNABLE TO CLASSIFY BP99
156077                              UNABLE TO CLASSIFY BP99
156078                              UNABLE TO CLASSIFY BP99
156079                              UNABLE TO CLASSIFY BP99
156080                              UNABLE TO CLASSIFY BP99
156081                              UNABLE TO CLASSIFY BP99
156082                              UNABLE TO CLASSIFY BP99
156083                              UNABLE TO CLASSIFY BP99
156084                              UNABLE TO CLASSIFY BP99
156085                              UNABLE TO CLASSIFY BP99
156086                              UNABLE TO CLASSIFY BP99
156087                              UNABLE TO CLASSIFY BP99
156088                              UNABLE TO CLASSIFY BP99
156089                              UNABLE TO CLASSIFY BP99
156090                              UNABLE TO CLASSIFY BP99
156091                              UNABLE TO CLASSIFY BP99
156092                              UNABLE TO CLASSIFY BP99
156096                              UNABLE TO CLASSIFY BP99
156097                              UNABLE TO CLASSIFY BP99
156098                              UNABLE TO CLASSIFY BP99
156099                              UNABLE TO CLASSIFY BP99
156100                              UNABLE TO CLASSIFY BP99
156101                              UNABLE TO CLASSIFY BP99
156102                              UNABLE TO CLASSIFY BP99
156104                              UNABLE TO CLASSIFY BP99
156105                              UNABLE TO CLASSIFY BP99
156107                              UNABLE TO CLASSIFY BP99
156108                              UNABLE TO CLASSIFY BP99
156109                              UNABLE TO CLASSIFY BP99
156110                              UNABLE TO CLASSIFY BP99
Name: minor_class, dtype: object

In [198]:
import re

In [273]:
busclean[busclean.category.str.contains('hotel', na=False)]

,ownership_name,dba_name,street_address,city,state,zip_code,class_code,pbc_code,major_class,lat,lon,minor_class,category
2,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,03,6511,"Hotels, Apartments",37.748921,-122.465050,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
82,AMORE ROBERT,AMORE & CO. REALTORS,1958 UNION ST,San Francisco,CA,94123,03,6511,"Hotels, Apartments",37.797585,-122.431578,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
125,ANTONCHUK RICHARD A,ANTONCHUK A,16 HUDSON ST,REDWOOD CITY,CA,94062,03,5538,"Hotels, Apartments",37.485092,-122.245840,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
126,ANTONCHUK RICHARD A,236 DOUGLASS ST APTS,238 DOUGLASS ST,San Francisco,CA,94114,03,5538,"Hotels, Apartments",37.759988,-122.439272,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
127,ANTONCHUK RICHARD A,1117 OCEAN AV APTS,1117 OCEAN AVE,San Francisco,CA,94112,03,5538,"Hotels, Apartments",37.723508,-122.454400,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
128,ANTONCHUK RICHARD A,1125 OCEAN AV APTS,1125 OCEAN AVE,San Francisco,CA,94112,03,5538,"Hotels, Apartments",37.723553,-122.454621,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
180,JOW BEN H & GEE SIN TRUST,732 26TH AV APARTMENTS,732 26TH AVE,San Francisco,CA,94121,03,5538,"Hotels, Apartments",37.775549,-122.485495,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
191,FRENDO KATHLEEN & KULICH J,633 GRAND VIEW APTS,633 GRAND VIEW AVE,San Francisco,CA,94114,03,6511,"Hotels, Apartments",37.750152,-122.442676,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
225,LEW WILLIE L & PO S,1433-1437 CLEMENT ST BUILDING,1433 CLEMENT ST,San Francisco,CA,94118,03,5538,"Hotels, Apartments",37.782476,-122.474733,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
226,LEW WILLIE L & PO S,1361-1363 CALIFORNIA APTS,1361 CALIFORNIA ST,San Francisco,CA,94109,03,5538,"Hotels, Apartments",37.791070,-122.416806,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
227,LEW WILLIE L & PO S,1365-1373 CALIFORNIA PATS,1365 CALIFORNIA ST,San Francisco,CA,94109,03,5538,"Hotels, Apartments",37.791059,-122.416894,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
228,LEW WILLIE L & PO S,1355 CALIFORNIA APTS,1355 CALIFORNIA ST,San Francisco,CA,94109,03,5538,"Hotels, Apartments",37.791080,-122.416720,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
229,LEW WILLIE L & PO S,1908-1910 LAKE ST APTS,1908 LAKE ST,San Francisco,CA,94118,03,5538,"Hotels, Apartments",37.785979,-122.480038,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
230,LEW WILLIE L & PO S,2102 FILBERT ST APTS,2102 FILBERT ST,San Francisco,CA,94123,03,5538,"Hotels, Apartments",37.798203,-122.434307,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
279,BOW ON TONG ASSN,BOW ON TONG ASSN,808 CLAY ST,San Francisco,CA,94108,03,7000,"Hotels, Apartments",37.794210,-122.406640,HOTELS AND OTHER LODGING PLACES HT70,hotel
315,CHOI SHU C/JAMES/HERMAN,CHAT HAI CO,864 WASHINGTON ST,San Francisco,CA,94108,03,5538,"Hotels, Apartments",37.795014,-122.407502,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
316,CHOI SHU C/JAMES/HERMAN,630 LOMBARD APTS,630 LOMBARD ST,San Francisco,CA,94133,03,5538,"Hotels, Apartments",37.802976,-122.411923,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
323,CHO ANDREW F,552-560 VALLEJO APTS,552 VALLEJO ST,San Francisco,CA,94133,03,5538,"Hotels, Apartments",37.798885,-122.406535,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
324,CHO ANDREW F,2407 JUDAH ST APTS,2407 JUDAH ST,San Francisco,CA,94122,03,5538,"Hotels, Apartments",37.761225,-122.487901,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
372,COURNALE CLYDE,4334-4338 CALIFORNIA APTS,4334 CALIFORNIA ST,San Francisco,CA,94118,03,5538,"Hotels, Apartments",37.785062,-122.464034,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
373,COURNALE CLYDE,425 22ND AV APTS,425 22ND AVE,San Francisco,CA,94121,03,5538,"Hotels, Apartments",37.779648,-122.481484,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
374,COURNALE CLYDE,4630 GEARY BL BLDG,4630 GEARY BLVD,San Francisco,CA,94118,03,5538,"Hotels, Apartments",37.780873,-122.468910,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
375,COURNALE CLYDE,4638 GEARY BLDG,4638 GEARY BLVD,San Francisco,CA,94118,03,5538,"Hotels, Apartments",37.780857,-122.469248,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
376,COURNALE CLYDE,6114-6118 GEARY BLDG,6114 GEARY BLVD,San Francisco,CA,94121,03,5538,"Hotels, Apartments",37.780141,-122.485074,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
377,COURNALE CLYDE,910-914 IRVING ST BUILDING,910 IRVING ST,San Francisco,CA,94122,03,5538,"Hotels, Apartments",37.763986,-122.467720,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
453,DELCASTELLO CONSTR CO INC,DELCASTELLO CONSTR CO INC,3900 MISSION ST,San Francisco,CA,94112,03,8888,"Hotels, Apartments",37.735283,-122.424806,UNABLE TO CLASSIFY BP99,hotel
454,DELCASTELLO CONSTR CO INC,164 VALLEY APTS,164 VALLEY ST,San Francisco,CA,94131,03,8888,"Hotels, Apartments",37.744560,-122.425859,UNABLE TO CLASSIFY BP99,hotel
455,DELCASTELLO CONSTR CO INC,865 SAN JOSE APTS,865 SAN JOSE AVE,San Francisco,CA,94110,03,8888,"Hotels, Apartments",37.741327,-122.423590,UNABLE TO CLASSIFY BP99,hotel
508,RECHT HARRY & SLAMOVICH HENRY,103-107 GRATTAN ST APTS,103 GRATTAN ST,San Francisco,CA,94117,03,6511,"Hotels, Apartments",37.764002,-122.449854,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
509,RECHT HARRY & SLAMOVICH HENRY,1907 HAYES ST APTS,1907 HAYES ST,San Francisco,CA,94117,03,6511,"Hotels, Apartments",37.773699,-122.447944,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130045,MISSION HOUSING DEV CORP,HOTEL PARKVIEW,102 S. PARK ST,San Francisco,CA,94107,03,6511,"Hotels, Apartments",37.781634,-122.394188,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
130069,LIPTON CRAIG S,MAVEN INVESTMENTS,1138 TAYLOR ST,San Francisco,CA,94108,03,5538,"Hotels, Apartments",37.792987,-122.412735,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130078,FUNG JEFFREY,628-632 HYDE ST APTS,628 HYDE ST,San Francisco,CA,94127,03,6512,"Hotels, Apartments",37.786578,-122.416520,APPT/RE/LESSOR-SOLE PROPRIETORSHIP BP651,hotel
130166,KENNETH R MOSES,FORENSIC IDENTIFICATION SRVCS,130 HERNANDEZ AVE,San Francisco,CA,94127,03,6512,"Hotels, Apartments",37.744842,-122.457707,APPT/RE/LESSOR-SOLE PROPRIETORSHIP BP651,hotel
130271,KAN ASIA K,AKA CONSTRUCTION CO,423 BROADWAY 238,MILLBRAE,CA,94030,03,6512,"Hotels, Apartments",37.601793,-122.392886,APPT/RE/LESSOR-SOLE PROPRIETORSHIP BP651,hotel
130272,KAN ASIA K,604 SHOTWELL ST APTS,604 SHOTWELL ST,San Francisco,CA,94110,03,6512,"Hotels, Apartments",37.758525,-122.415746,APPT/RE/LESSOR-SOLE PROPRIETORSHIP BP651,hotel
130304,LEUNG THERESA A TRUSTEE,724 8TH AVE APTS,724 8TH AVE,San Francisco,CA,94118,03,5538,"Hotels, Apartments",37.774696,-122.465979,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130345,LEE & NG LIVING TRUST,1309 HYDE STREET APTS,1309 HYDE ST,San Francisco,CA,94109,03,6511,"Hotels, Apartments",37.792986,-122.417801,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
130387,FONG WING FUNG,1238 12TH AVE APTS,1238 12TH AVE,San Francisco,CA,94122,03,5538,"Hotels, Apartments",37.765000,-122.469603,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130388,FONG WING FUNG,4018 - 4020 24TH ST APTS,4018 24TH ST,San Francisco,CA,94114,03,5538,"Hotels, Apartments",37.751403,-122.432384,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130443,JOHN E BUXTON TRUST B,482-488 HAYES ST APTS,482 HAYES ST,San Francisco,CA,94102,03,6511,"Hotels, Apartments",37.776714,-122.424311,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
130444,JOHN E BUXTON TRUST B,5134-5136 3RD ST APTS,5134 3RD ST,San Francisco,CA,94124,03,6511,"Hotels, Apartments",37.731724,-122.391857,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
130447,NANCY C. KEARNEY TRUSTEE,184-188 10TH AVE APTS,184 10TH ST,San Francisco,CA,94103,03,5538,"Hotels, Apartments",37.774018,-122.414353,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130448,NANCY C. KEARNEY TRUSTEE,4748-4754 CALIFORNIA ST,4748 CALIFORNIA ST,San Francisco,CA,94118,03,5538,"Hotels, Apartments",37.784643,-122.468309,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130450,LENORMAND MARILYN TRUST,1530-34 GROVE ST APTS,1530 GROVE ST,San Francisco,CA,94117,03,5538,"Hotels, Apartments",37.775433,-122.441906,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130466,HINTERMANN JANET & JEAN & ETAL,1690 GREENWICH TRUST,1690 GREENWICH ST,San Francisco,CA,94123,03,6511,"Hotels, Apartments",37.800027,-122.427371,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
130508,MATEO EUNICE A,1226-1230 PAGE ST APTS,1226 PAGE ST,San Francisco,CA,94117,03,5538,"Hotels, Apartments",37.771703,-122.441142,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130515,OLIVEIRA FERNANDO A,1371 JACKSON ST,1371 JACKSON ST,San Francisco,CA,94109,03,5538,"Hotels, Apartments",37.794649,-122.417586,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130523,BORVICE ESTER,1119 SHOTWELL ST APTS,1119 SHOTWELL ST,San Francisco,CA,94110,03,5538,"Hotels, Apartments",37.750436,-122.414982,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130546,FERGUSON SUSAN,1285-1287 10TH AVE BLDG,1285 10TH AVE,San Francisco,CA,94122,03,5538,"Hotels, Apartments",37.764238,-122.467407,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130568,SAUCEDO ANSELMO,2960 MISSION ST,2960 MISSION ST,San Francisco,CA,94110,03,5538,"Hotels, Apartments",37.749504,-122.418183,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130577,MENEGUZZI ROSE &BORAGNO G ETAL,465 UTAH ST APTS,465 UTAH ST,San Francisco,CA,94110,03,6511,"Hotels, Apartments",37.763671,-122.406331,(APARTMENTS) REAL ESTATE OPERATORS & LESSORS ...,hotel
130604,CORRY SHEILA,407 29TH ST APARTMENTS,407 29TH ST,San Francisco,CA,94131,03,5538,"Hotels, Apartments",37.743548,-122.429190,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130625,OBER KATHY G,KATHY OBER,2301 MISSION ST 301,San Francisco,CA,94110,03,5538,"Hotels, Apartments",37.760021,-122.419182,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130626,OBER KATHY G,326 HERMANN ST APTS,326 HERMANN ST,San Francisco,CA,94117,03,5538,"Hotels, Apartments",37.770190,-122.430597,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130627,OBER KATHY G,2321 BRYANT ST APTS,2321-23 BRYANT ST,San Francisco,CA,94110,03,5538,"Hotels, Apartments",37.757271,-122.409544,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130638,RAVETTI 1995 REVOCABLE TRUST,3324-3328 24TH ST BLDG,3324 24TH ST,San Francisco,CA,94110,03,5538,"Hotels, Apartments",37.752211,-122.419014,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130639,RAVETTI 1995 REVOCABLE TRUST,3325 - 3331 24TH ST BLDG,3325 24TH ST,San Francisco,CA,94110,03,5538,"Hotels, Apartments",37.752206,-122.419094,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130640,RAVETTI 1995 REVOCABLE TRUST,527 3RD ST BLDG,527 3RD ST,San Francisco,CA,94107,03,5538,"Hotels, Apartments",37.780871,-122.395304,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel
130641,RAVETTI 1995 REVOCABLE TRUST,321 - 327 BARTLETT ST APTS,321 BARTLETT ST,San Francisco,CA,94110,03,5538,"Hotels, Apartments",37.751744,-122.419533,(APARTMENTS) OPERATORS & LESSORS OF BUILDINGS...,hotel

In [282]:
pattern = r'JEWELRY'
busclean.minor_class.str.contains(pattern, na=False).sum()

258

In [285]:
busclean['category'] = '0'
print (busclean.category == '0').sum()
busclean.category[busclean.class_code == 'n.a.'] = 'other'
busclean.category[busclean.class_code == '00'] = 'other'
busclean.category[busclean.class_code == '01'] = 'other'
busclean.category[busclean.class_code == '02'] = 'other'
busclean.category[busclean.class_code == '03'] = 'other'
busclean.category[busclean.class_code == '04'] = 'laundry'
busclean.category[busclean.class_code == '05'] = 'other'
busclean.category[busclean.class_code == '06'] = 'other'
busclean.category[busclean.class_code == '09'] = 'other'
busclean.category[busclean.class_code == '10'] = 'other'
busclean.category[busclean.class_code == '11'] = 'other'
busclean.category[busclean.class_code == '12'] = 'other'
busclean.category[busclean.class_code == '13'] = 'other'
busclean.category[busclean.class_code == '15'] = 'other'
busclean.category[busclean.class_code == '16'] = 'other'
busclean.category[busclean.minor_class.str.contains('BUSINESS SERVICES', na=False)] = 'other'
busclean.category[busclean.minor_class.str.contains('DRINKING PLACES', na=False)] = 'bars'
busclean.category[busclean.minor_class.str.contains('RESTAURANT', na=False)] = 'restaurant'
busclean.category[busclean.minor_class.str.contains('GROCERY', na=False)] = 'grocery'
busclean.category[busclean.minor_class.str.contains('FOOD', na=False)] = 'grocery'
busclean.category[busclean.minor_class.str.contains('MARKET', na=False)] = 'grocery'
busclean.category[busclean.minor_class.str.contains('MEDICAL', na=False)] = 'medical'
busclean.category[busclean.minor_class.str.contains('OFFICE', na=False)] = 'medical'
busclean.category[busclean.minor_class.str.contains('HOSPITAL', na=False)] = 'medical'
busclean.category[busclean.minor_class.str.contains('HEALTH', na=False)] = 'medical'
busclean.category[busclean.minor_class.str.contains('RETAIL', na=False)] = 'retail'
busclean.category[busclean.minor_class.str.contains('APPAREL', na=False)] = 'retail'
busclean.category[busclean.minor_class.str.contains('GIFT', na=False)] = 'retail'
busclean.category[busclean.minor_class.str.contains('JEWELRY', na=False)] = 'retail'
busclean.category[busclean.minor_class.str.contains('THEATER', na=False)] = 'entertainment'
busclean.category[busclean.minor_class.str.contains('BARBER', na=False)] = 'personal_care'
busclean.category[busclean.minor_class.str.contains('BEAUTY', na=False)] = 'personal_care'
busclean.category[busclean.minor_class.str.contains('HOTEL', na=False)] = 'hotel'
busclean.category[busclean.minor_class.str.contains('PARKING', na=False)] = 'parking'
busclean.category[busclean.category == '0'] = 'other'





print busclean.groupby('category').count()['ownership_name']

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

124417
category
bars                161
entertainment        27
grocery             973
hotel               522
laundry             587
medical            3183
other            103319
parking             887
personal_care      1589
restaurant         4204
retail             8965
Name: ownership_name, dtype: int64

/Users/crupley/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [294]:
busclean.category.loc[busclean.class_code == '04'] = 'laundry'

In [297]:
busclean = clean_business(bus)
print busclean.shape
busclean.groupby('category').count().loc['ownership_name']

code/makedbs.py:200: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['major_class'] = df['class_code'].replace(major_names)
code/makedbs.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # df['pbc_code'] = df['pbc_code'].replace(['n.a.', 'NaN'], '8888')
code/makedbs.py:203: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # df['pbc_code'] = df['pbc_code'].astype('int')
code/makedbs.py:206: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # df['lat'] = df.business_location.apply(lambda x: getlatlon(x)[0])
code/makedbs.py:207: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # df['lon'] = df.business_location.apply(lambda x: getlatlon(x)[1])
code/makedbs.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  'DayOfWeek',

(124417, 13)

KeyError: 'the label [ownership_name] is not in the [index]'

In [284]:
unloved = busclean.loc[:,['class_code', 'major_class', 'minor_class']][busclean.category == '0']
unloved.groupby('minor_class').count().sort_values('major_class', ascending=False)

                                                    class_code  major_class
minor_class
 MANAGEMENT,CONSULTING,AND PUBLIC RELATIONS BP874         2056         2056
 REAL ESTATE - APARTMENTS BP9001                          1674         1674
 LEGAL SERVICES(OR LAWYER) BP81S 07 7633 INCOME...        1283         1283
 JANITORIAL AND RELATED SERVICES BP734                    1097         1097
 LEGAL SERVICES BP81                                       923          923
 OTHER GENERAL MERCHANDISE STORES BP539                    879          879
 OPERATORS AND LESSORS OF BLDGS BP9001                     877          877
 BEEF CATTLE FEEDLOTS BP0211                               597          597
 PHOTOGRAPHIC PORTRAIT STUDIOS BP722                       414          414
 ACCOUNTING, AUDITING, AND BOOKKEEPING BP872               410          410
 REAL ESTATE AGENTS/BROKERS AND MANAGERS BP653P...         404          404
 COMPUTER AND DATA PROCESSING SERVICES BP737               365          365
 UNABLE TO CLASSIFY BP99                                   338          338
 MANAGEMENT, CONSULTING, AND PUBLIC RELATIONS S...         310          310
 EDUCATIONAL SERVICES BP82                                 308          308
 EMPLOYMENT AGENCIES AND PERSONNEL SUPPLY BP736            253          253
 PERSONAL SERVICES BP729                                   248          248
 CHILD DAY CARE BP835                                      192          192
 TEACHING OR TURTORING BP829                               184          184
 ADVERTISING BP731                                         181          181
 MISCELLANEOUS SERVICES(INCLUDING VETERINARIANS...         169          169
 AUTO REPAIR AND SERVICES BP753                            167          167
 ACCOUNTING,AUDITING AND BOOKKEEPING BP872                 158          158
 LIQUOR STORES BP592                                       156          156
 THEATRICAL PERFORMERS,MUSICIANS,AGENTS,PRODUCE...         156          156
 FLORISTS BP5992                                           141          141
 FURNITURE AND HOME FURNISHINGS STORES BP57                132          132
 SELLING DOOR-TO-DOOR,BY PHONE/PARTY PLAN,MOBIL...         129          129
 PHYSICAL FITNESS FACILITIES BP7991                        119          119
 REAL ESTATE PROPERTY MANAGERS BP653                       113          113
...                                                        ...          ...
 FARM LABOR & MANAGEMENT BP076                               2            2
7291                                                         2            2
 FUNERAL SERVICES AND CREMATORIES BP726                      2            2
 PUBLIC RELATIONS BP8743                                     2            2
 FURNITURE REPAIR & UPHOLSTERY BP764                         2            2
 HOME FURNISHINGS,EXCEPT APPLIANCES BP5719                   2            2
 VETERINARY SERVICES INCLUDING FEES BP074                    2            2
 LUGGAGE AND LEATHER GOODS STORE BP5948                      2            2
 WATER TRANSPORTATION BP44                                   1            1
 LUGGAGE AND LEATHER GOODS STORES BP5948                     1            1
5089                                                         1            1
 TRASH COLLECTION W/O OWN DUMP BP4953                        1            1
 METAL MINING BP10                                           1            1
7550                                                         1            1
 CRUDE PETROLEUM,NATURAL GAS,NATURAL GAS LIQUID...           1            1
 OIL AND GAS FIELD SERVICES BP138                            1            1
 NURSERIES AND GARDEN SUPPLY STORES BP526                    1            1
 NONMETALLIC MINERALS,EXCEPT FUELS BP14                      1            1
 RACING,INCLUDING TRACK OPERATION BP7948                     1            1
 NEWSPAPERS BP2711                                           1            1
 COPPER,LEAD,ZINC,GOLD AND SILVER ORES BP10                  1            1
 MOBILE HOME DEALERS BP527                                   1            1
 MANAGEMENT SERVICES BP8742                                  1            1
 DAIRY PRODUCT STORES BP545                                  1            1
 REGISTERED AND PRACTICAL NURSES BP805                       1            1
 DIMENSION,CRUSHED/BROKEN STONES,SAND AND GRAVE...           1            1
 SAVINGS AND LOAN ASSOCIATIONS BP603                         1            1
 AUTO AND HOME SUPPLY STORES BP553                           1            1
 SURVEYING SERVICES BP8713                                   1            1
400                                                          1            1

[187 rows x 2 columns]

# sfpd

In [202]:
df = pd.read_csv('../data/sfpd/SFPD_Incidents_-_from_1_January_2003.csv')
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,150912717,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Sunday,10/18/2015,23:54,TARAVAL,"ARREST, BOOKED",19TH AV / HOLLOWAY AV,-122.475222,37.721057,"(37.7210571460375, -122.475222189932)",15091271765016
1,150912745,BURGLARY,"BURGLARY, HOT PROWL, FORCIBLE ENTRY",Sunday,10/18/2015,23:37,CENTRAL,"ARREST, BOOKED",700 Block of BAY ST,-122.419359,37.804838,"(37.8048384367685, -122.419359266314)",15091274505081
2,150912698,OTHER OFFENSES,TRAFFIC VIOLATION,Sunday,10/18/2015,23:34,INGLESIDE,"ARREST, BOOKED",PERSIA AV / DUBLIN ST,-122.426390,37.718561,"(37.7185612508135, -122.426390080828)",15091269865015
3,150912795,ASSAULT,THREATS AGAINST LIFE,Sunday,10/18/2015,23:30,TENDERLOIN,"ARREST, BOOKED",200 Block of LEAVENWORTH ST,-122.414218,37.783259,"(37.7832593295025, -122.414217804322)",15091279519057
4,150912701,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,10/18/2015,23:30,SOUTHERN,NONE,1000 Block of MARKET ST,-122.411340,37.781271,"(37.7812707434494, -122.411339562557)",15091270103074

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1830772 entries, 0 to 1830771
Data columns (total 13 columns):
IncidntNum    int64
Category      object
Descript      object
DayOfWeek     object
Date          object
Time          object
PdDistrict    object
Resolution    object
Address       object
X             float64
Y             float64
Location      object
PdId          int64
dtypes: float64(2), int64(2), object(9)
memory usage: 195.5+ MB

In [204]:
def listcols(df):
    for i in df.columns: print i

In [205]:
listcols(df)

IncidntNum
Category
Descript
DayOfWeek
Date
Time
PdDistrict
Resolution
Address
X
Y
Location
PdId

In [212]:
%run ../code/makedbs.py

In [214]:
make_sfpd()

In [226]:
list(df.Category.unique())

['OTHER OFFENSES',
 'BURGLARY',
 'ASSAULT',
 'ROBBERY',
 'WARRANTS',
 'VANDALISM',
 'NON-CRIMINAL',
 'LARCENY/THEFT',
 'STOLEN PROPERTY',
 'FORGERY/COUNTERFEITING',
 'VEHICLE THEFT',
 'SUSPICIOUS OCC',
 'DRUG/NARCOTIC',
 'TRESPASS',
 'FRAUD',
 'WEAPON LAWS',
 'MISSING PERSON',
 'SECONDARY CODES',
 'SEX OFFENSES, FORCIBLE',
 'PORNOGRAPHY/OBSCENE MAT',
 'ARSON',
 'DISORDERLY CONDUCT',
 'LOITERING',
 'DRIVING UNDER THE INFLUENCE',
 'LIQUOR LAWS',
 'DRUNKENNESS',
 'GAMBLING',
 'KIDNAPPING',
 'PROSTITUTION',
 'EXTORTION',
 'BRIBERY',
 'SUICIDE',
 'RUNAWAY',
 'FAMILY OFFENSES',
 'BAD CHECKS',
 'EMBEZZLEMENT',
 'SEX OFFENSES, NON FORCIBLE',
 'TREA',
 'RECOVERED VEHICLE']

In [230]:
df.groupby('Category').count().sort_values(by='Descript', ascending=False)

,Descript,Date,Time,PdDistrict,Address,X,Y
Category,,,,,,,
LARCENY/THEFT,370893,370893,370893,370893,370893,370893,370893
OTHER OFFENSES,261402,261402,261402,261402,261402,261402,261402
NON-CRIMINAL,193889,193889,193889,193889,193889,193889,193889
ASSAULT,160375,160375,160375,160375,160375,160375,160375
VEHICLE THEFT,111328,111328,111328,111328,111328,111328,111328
DRUG/NARCOTIC,109631,109631,109631,109631,109631,109631,109631
VANDALISM,93494,93494,93494,93494,93494,93494,93494
WARRANTS,87283,87283,87283,87283,87283,87283,87283
BURGLARY,76559,76559,76559,76559,76559,76559,76559
SUSPICIOUS OCC,65614,65614,65614,65614,65614,65614,65614
MISSING PERSON,53935,53935,53935,53935,53935,53935,53935
ROBBERY,47419,47419,47419,47419,47419,47419,47419
FRAUD,34903,34903,34903,34903,34903,34903,34903
FORGERY/COUNTERFEITING,21516,21516,21516,21516,21516,21516,21516
SECONDARY CODES,20924,20924,20924,20924,20924,20924,20924
WEAPON LAWS,17951,17951,17951,17951,17951,17951,17951
PROSTITUTION,15362,15362,15362,15362,15362,15362,15362
TRESPASS,15190,15190,15190,15190,15190,15190,15190
STOLEN PROPERTY,9740,9740,9740,9740,9740,9740,9740
"SEX OFFENSES, FORCIBLE",9175,9175,9175,9175,9175,9175,9175
DRUNKENNESS,8833,8833,8833,8833,8833,8833,8833
DISORDERLY CONDUCT,8729,8729,8729,8729,8729,8729,8729
RECOVERED VEHICLE,6346,6346,6346,6346,6346,6346,6346
DRIVING UNDER THE INFLUENCE,4834,4834,4834,4834,4834,4834,4834
KIDNAPPING,4756,4756,4756,4756,4756,4756,4756
RUNAWAY,3940,3940,3940,3940,3940,3940,3940
LIQUOR LAWS,3801,3801,3801,3801,3801,3801,3801
ARSON,3162,3162,3162,3162,3162,3162,3162
EMBEZZLEMENT,2520,2520,2520,2520,2520,2520,2520
LOITERING,2336,2336,2336,2336,2336,2336,2336
SUICIDE,1105,1105,1105,1105,1105,1105,1105
FAMILY OFFENSES,1062,1062,1062,1062,1062,1062,1062
BAD CHECKS,845,845,845,845,845,845,845
BRIBERY,647,647,647,647,647,647,647
EXTORTION,593,593,593,593,593,593,593
"SEX OFFENSES, NON FORCIBLE",326,326,326,326,326,326,326
GAMBLING,298,298,298,298,298,298,298
PORNOGRAPHY/OBSCENE MAT,46,46,46,46,46,46,46
TREA,10,10,10,10,10,10,10

In [235]:
%run ../code/makedbs.py
df = load_sfpd()
df = clean_sfpd(df)
print df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1830772 entries, 0 to 1830771
Data columns (total 7 columns):
Category      object
Descript      object
PdDistrict    object
Address       object
lon           float64
lat           float64
datetime      object
dtypes: float64(2), object(5)
memory usage: 111.7+ MB
None

,Category,Descript,PdDistrict,Address,lon,lat,datetime
0,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",TARAVAL,19TH AV / HOLLOWAY AV,-122.475222,37.721057,10/18/2015 23:54
1,BURGLARY,"BURGLARY, HOT PROWL, FORCIBLE ENTRY",CENTRAL,700 Block of BAY ST,-122.419359,37.804838,10/18/2015 23:37
2,OTHER OFFENSES,TRAFFIC VIOLATION,INGLESIDE,PERSIA AV / DUBLIN ST,-122.426390,37.718561,10/18/2015 23:34
3,ASSAULT,THREATS AGAINST LIFE,TENDERLOIN,200 Block of LEAVENWORTH ST,-122.414218,37.783259,10/18/2015 23:30
4,ROBBERY,"ROBBERY, BODILY FORCE",SOUTHERN,1000 Block of MARKET ST,-122.411340,37.781271,10/18/2015 23:30

In [236]:
listcols(df)

Category
Descript
PdDistrict
Address
lon
lat
datetime

In [239]:
%run ../code/makedbs.py
make_sfpd()

# US Census
## Age/gender

In [40]:
df = pd.read_csv('../data/uscensus/p12/DEC_10_SF1_P12.csv', skiprows=1)
print df.shape
df.head(1)

(7386, 52)

,Id,Id2,Geography,Total:,Male:,Male: - Under 5 years,Male: - 5 to 9 years,Male: - 10 to 14 years,Male: - 15 to 17 years,Male: - 18 and 19 years,...,Female: - 50 to 54 years,Female: - 55 to 59 years,Female: - 60 and 61 years,Female: - 62 to 64 years,Female: - 65 and 66 years,Female: - 67 to 69 years,Female: - 70 to 74 years,Female: - 75 to 79 years,Female: - 80 to 84 years,Female: - 85 years and over
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df.Geography[0]

'Block 1000, Block Group 1, Census Tract 101, San Francisco County, California'

In [44]:
def splitgeo(geo):
    s = geo.split(',')
    block = s[0].split(' ')[-1]
    blockgroup = s[1].split(' ')[-1]
    tract = s[2].split(' ')[-1]
    return block, blockgroup, tract
    
splitgeo(df.Geography[0])

('1000', '1', '101')

In [49]:
df.Geography[:2].apply(splitgeo)

0    (1000, 1, 101)
1    (1001, 1, 101)
Name: Geography, dtype: object

In [50]:
df['geovalues'] = df.Geography.apply(splitgeo)

In [51]:
cols = ['Block', 'Block_Group', 'Tract']
for n, col in enumerate(cols):
    df[col] = df.geovalues.apply(lambda x: x[n])
df.head(1)

,Id,Id2,Geography,Total:,Male:,Male: - Under 5 years,Male: - 5 to 9 years,Male: - 10 to 14 years,Male: - 15 to 17 years,Male: - 18 and 19 years,...,Female: - 65 and 66 years,Female: - 67 to 69 years,Female: - 70 to 74 years,Female: - 75 to 79 years,Female: - 80 to 84 years,Female: - 85 years and over,geovalues,Block,Block_Group,Tract
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,"(1000, 1, 101)",1000,1,101

In [26]:
%run code/makedbs.py
df = pd.read_csv('data/uscensus/p12/DEC_10_SF1_P12.csv', skiprows=1)
df = clean_usc_age_gender(df)
df.head(1)

,Block,Block_Group,Tract,Id2,Total,M,M_U5,M_5_9,M_10_14,M_15_17,...,F_50_54,F_55_59,F_60_61,F_62_64,F_65_66,F_67_69,F_70_74,F_75_79,F_80_84,F_85_over
0,101,1,1000,60750101001000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
for i in df.columns: print i

Block
Block_Group
Tract
Total
M
M_U5
M_5_9
M_10_14
M_15_17
M_18_19
M_20
M_21
M_22_24
M_25_29
M_30_34
M_35_39
M_40_44
M_45_49
M_50_54
M_55_59
M_60_61
M_62_64
M_65_66
M_67_69
M_70_74
M_75_79
M_80_84
M_85_over
F
F_U5
F_5_9
F_10_14
F_15_17
F_18_19
F_20
F_21
F_22_24
F_25_29
F_30_34
F_35_39
F_40_44
F_45_49
F_50_54
F_55_59
F_60_61
F_62_64
F_65_66
F_67_69
F_70_74
F_75_79
F_80_84
F_85_over

In [76]:
df.Tract.astype('int').unique()

array([1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010,
       1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021,
       1022, 1023, 1024, 1025, 1026, 1027, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 3000, 3001, 3002, 3003, 3004, 3005, 3006,
       3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 4000, 4001, 4002,
       4003, 4004, 2020, 2021, 1028, 1029, 1030, 1031, 2022, 2023, 2024,
       2025, 2026, 2027, 2028, 2029, 4005, 4006, 4007, 3015, 3016, 3017,
       3018, 3019, 4008, 4009, 4010, 5000, 5001, 5002, 5003, 5004, 5005,
       5006, 5007, 4011, 5008, 5009, 5010, 1032, 1033, 1034, 1035, 1036,
       1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047,
       1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058,
       1059, 1060, 1061, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
       2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 1062,
       1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073,
       1074, 1075, 1076, 1077, 1078, 1079, 1080, 4012, 4013, 4014, 3020,
       3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031,
       3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042,
       3043, 3044, 3045, 3046, 3047, 6000, 6001, 6002, 6003, 6004, 6005,
       6006, 6007, 6008, 6009, 6010, 6011, 6012, 6013, 6014, 6015, 6016,
       6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6026, 6027,
       6028, 6029, 6030, 6031, 6032, 2048, 2049, 2050, 4015, 4016, 4017,
       4018, 4019, 4020, 4021, 4022, 4023, 4024, 5011, 5012, 5013, 5014,
       5015, 5016, 5017, 5018, 5019, 5020, 4025, 4026, 4027, 4028, 5021,
       7000, 7001, 7002, 7003, 7004, 7005, 7006, 7007, 7008, 7009, 7010,
       7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 4029,
       4030, 4031, 4032, 4033, 4034, 1081, 1082, 1083, 1084, 1085, 1086,
       1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097,
       1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108,
       1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119,
       1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130,
       1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141,
       1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152,
       1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163,
       1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174,
       1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185,
       1186, 1187,    1,    2,    3,    4,    5,    6])

In [ ]:
%run code/makedbs.py
make_usc_age_gender()

## US Census household size

In [27]:
%run code/makedbs.py
df = load_usc_household()
print df.shape
df.head(1)

(7386, 11)

,Id,Id2,Geography,Total:,1-person household,2-person household,3-person household,4-person household,5-person household,6-person household,7-or-more-person household
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0,0,0,0,0,0,0,0

In [28]:
%run code/makedbs.py
df = load_usc_household()
df = clean_usc_household(df)
df.head(1)

  Block Block_Group Tract             Id2  Total  p1  p2  p3  p4  p5  p6  p7
0   101           1  1000  60750101001000      0   0   0   0   0   0   0   0

In [96]:
fnames = []
for name in cnames:
    pp = ''
    if re.match('[0-9]', name): pp = 'p'
    fnames.append(pp + name)

In [97]:
fnames

['Block',
 'Block_Group',
 'Tract',
 'Total',
 'p1_person',
 'p2_person',
 'p3_person',
 'p4_person',
 'p5_person',
 'p6_person',
 'p7_person']

In [100]:
for i in df.columns: print i

Block
Block_Group
Tract
Total
p1
p2
p3
p4
p5
p6
p7

In [101]:
%run code/makedbs.py
make_usc_household()

## US Census population

In [31]:
%run code/makedbs.py
df = load_usc_pop()
df.head(1)

,Id,Id2,Geography,Total
0,1000000US060750101001000,60750101001000,"Block 1000, Block Group 1, Census Tract 101, S...",0

In [33]:
%run code/makedbs.py
df = load_usc_pop()
df = clean_usc_pop(df)
df.head(1)

  Block Block_Group Tract             Id2  Total
0   101           1  1000  60750101001000      0

In [34]:
for i in df.columns: print i

Block
Block_Group
Tract
Id2
Total

In [105]:
%run code/makedbs.py
make_usc_pop()

# Walkscore

In [106]:
conn = psycopg2.connect(dbname='hoodie', user='postgres', host='/tmp')
c = conn.cursor()

c.execute('SELECT * FROM walkscore_raw')

In [110]:
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

In [117]:
DATABASE = {
    'drivername': 'postgres',
    'host': 'localhost',
    'username': 'postgres',
    'database': 'hoodie'
}

In [119]:
URL(**DATABASE)

postgres://postgres@localhost/hoodie

In [120]:
engine = create_engine(URL(**DATABASE))

In [123]:
with engine.connect() as conn, conn.begin():
    df = pd.read_sql_table('walkscore_raw', conn)
df.head()

,description,help_link,logo_url,more_info_icon,more_info_link,snapped_lat,snapped_lon,status,updated,walkscore,ws_link,searched_lat,searched_lon
0,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7190,-122.5185,1,2013-08-10 17:19:49.723670,1,https://www.walkscore.com/score/loc/lat=37.719...,37.719347,-122.518079
1,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7205,-122.5185,1,2015-06-16 02:11:34.261700,0,https://www.walkscore.com/score/loc/lat=37.720...,37.720717,-122.518079
2,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7220,-122.5185,1,2013-08-10 17:20:27.329400,2,https://www.walkscore.com/score/loc/lat=37.722...,37.722088,-122.518079
3,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7235,-122.5185,1,2014-09-05 10:53:05.520620,0,https://www.walkscore.com/score/loc/lat=37.723...,37.723458,-122.518079
4,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7250,-122.5185,1,2015-06-16 02:11:33.920510,0,https://www.walkscore.com/score/loc/lat=37.724...,37.724829,-122.518079

In [2]:
%run code/makedbs.py
df = get_db('walkscore_raw')
print df.shape
df.head()

(5476, 13)

,description,help_link,logo_url,more_info_icon,more_info_link,snapped_lat,snapped_lon,status,updated,walkscore,ws_link,searched_lat,searched_lon
0,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7190,-122.5185,1,2013-08-10 17:19:49.723670,1,https://www.walkscore.com/score/loc/lat=37.719...,37.719347,-122.518079
1,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7205,-122.5185,1,2015-06-16 02:11:34.261700,0,https://www.walkscore.com/score/loc/lat=37.720...,37.720717,-122.518079
2,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7220,-122.5185,1,2013-08-10 17:20:27.329400,2,https://www.walkscore.com/score/loc/lat=37.722...,37.722088,-122.518079
3,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7235,-122.5185,1,2014-09-05 10:53:05.520620,0,https://www.walkscore.com/score/loc/lat=37.723...,37.723458,-122.518079
4,Car-Dependent,https://www.redfin.com/how-walk-score-works,https://cdn.walk.sc/images/api-logo.png,https://cdn.walk.sc/images/api-more-info.gif,https://www.redfin.com/how-walk-score-works,37.7250,-122.5185,1,2015-06-16 02:11:33.920510,0,https://www.walkscore.com/score/loc/lat=37.724...,37.724829,-122.518079

In [151]:
%run code/makedbs.py
df = get_db('walkscore_raw')
df = clean_walkscore(df)
print df.shape
print df.info()
df.head()

(5032, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5032 entries, 0 to 5475
Data columns (total 7 columns):
snapped_lat     5032 non-null float64
snapped_lon     5032 non-null float64
walkscore       5032 non-null int64
description     5032 non-null object
updated         5032 non-null datetime64[ns]
searched_lat    5032 non-null float64
searched_lon    5032 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 314.5+ KB
None

,snapped_lat,snapped_lon,walkscore,description,updated,searched_lat,searched_lon
0,37.7190,-122.5185,1,Car-Dependent,2013-08-10 17:19:49.723670,37.719347,-122.518079
1,37.7205,-122.5185,0,Car-Dependent,2015-06-16 02:11:34.261700,37.720717,-122.518079
2,37.7220,-122.5185,2,Car-Dependent,2013-08-10 17:20:27.329400,37.722088,-122.518079
3,37.7235,-122.5185,0,Car-Dependent,2014-09-05 10:53:05.520620,37.723458,-122.518079
4,37.7250,-122.5185,0,Car-Dependent,2015-06-16 02:11:33.920510,37.724829,-122.518079

In [152]:
for i in df.columns: print i

snapped_lat
snapped_lon
walkscore
description
updated
searched_lat
searched_lon

In [153]:
%run code/makedbs.py
make_walkscore()

# Shapefiles

In [13]:
df = load_usc_pop()
df = clean_usc_pop(df)
df.head()

  Block Block_Group Tract  Total
0   101           1  1000      0
1   101           1  1001     44
2   101           1  1002      0
3   101           1  1003      0
4   101           1  1004      1

In [8]:
print df.Id2.unique().min()
print df.Id2.unique().max()

60750101001000
60759901000006

In [14]:
%cd ..

/Users/crupley/gal/hoodie

In [36]:
%run code/shapefiles.py
rdf = sf_to_df('data/uscensus/tl_2010_06075_tabblock10/tl_2010_06075_tabblock10.dbf')
print rdf.shape
print rdf.info()
rdf.head()

(7386, 11)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7386 entries, 0 to 7385
Data columns (total 11 columns):
state         7386 non-null object
county        7386 non-null object
tract         7386 non-null object
block         7386 non-null object
geoid         7386 non-null int64
name          7386 non-null object
mtfcc         7386 non-null object
land_area     7386 non-null int64
water_area    7386 non-null int64
lat           7386 non-null float64
lon           7386 non-null float64
dtypes: float64(2), int64(3), object(6)
memory usage: 692.4+ KB
None

,state,county,tract,block,geoid,name,mtfcc,land_area,water_area,lat,lon
0,06,075,021300,2002,60750213002002,Block 2002,G5040,16958,0,37.750067,-122.441075
1,06,075,021300,2000,60750213002000,Block 2000,G5040,16823,0,37.750196,-122.438933
2,06,075,020500,3004,60750205003004,Block 3004,G5040,17020,0,37.756794,-122.436270
3,06,075,021200,1003,60750212001003,Block 1003,G5040,16415,0,37.753529,-122.437050
4,06,075,021100,4001,60750211004001,Block 4001,G5040,17523,0,37.755758,-122.433400

In [37]:
for i in rdf.columns: print i

state
county
tract
block
geoid
name
mtfcc
land_area
water_area
lat
lon

In [19]:
%run code/makedbs.py
df = load_usc_shapefile()

In [21]:
#make_usc_shapefile()

In [44]:
make_usc_age_gender()

In [45]:
make_usc_household()

In [46]:
make_usc_pop()

In [47]:
make_usc_shapefile()