In [1]:
%cd ..

/Users/crupley/gal/hoodie

In [54]:
import numpy as np
import pandas as pd
from itertools import combinations
from time import time
import cPickle as pickle

from code.featurize import make_feature_df, feature_permutations

In [30]:
allfeatures = ['assessment', 'business', 'sfpd', 
               'usc_age_gender', 'usc_household',
               'usc_pop', 'walkscore']

In [31]:
for i in xrange(2, 8):
    print i, len(list(combinations(allfeatures, i)))

2 21
3 35
4 35
5 21
6 7
7 1

In [32]:
df = make_feature_df(allfeatures, norm_to_pop = False, verbose=False)

In [33]:
print 'n', 'nodes', 'features'
print '7', df.shape[0], allfeatures

n nodes features
7 2468 ['assessment', 'business', 'sfpd', 'usc_age_gender', 'usc_household', 'usc_pop', 'walkscore']

In [37]:
print 'n', 'nodes', 'features'
for db in combinations(allfeatures, 6):
    dblist = list(db)
    df = make_feature_df(dblist, verbose=False)
    print '6', df.shape[0], dblist

n nodes features
6 3749 ['assessment', 'business', 'sfpd', 'usc_age_gender', 'usc_household', 'usc_pop']
6 2468 ['assessment', 'business', 'sfpd', 'usc_age_gender', 'usc_household', 'walkscore']
6 2468 ['assessment', 'business', 'sfpd', 'usc_age_gender', 'usc_pop', 'walkscore']
6 2468 ['assessment', 'business', 'sfpd', 'usc_household', 'usc_pop', 'walkscore']
6 2483 ['assessment', 'business', 'usc_age_gender', 'usc_household', 'usc_pop', 'walkscore']
6 2562 ['assessment', 'sfpd', 'usc_age_gender', 'usc_household', 'usc_pop', 'walkscore']
6 2496 ['business', 'sfpd', 'usc_age_gender', 'usc_household', 'usc_pop', 'walkscore']

In [36]:
list(combinations(allfeatures, 6).next())

['assessment',
 'business',
 'sfpd',
 'usc_age_gender',
 'usc_household',
 'usc_pop']

In [45]:
res = pd.DataFrame(columns = ('n', 'nodes', 'features', 'time'))
d = {'n':0, 
     'nodes': 0,
     'features': ['a'],
     'time': 0.001}
res = res.append(d, ignore_index=True)
res

   n  nodes features   time
0  0      0      [a]  0.001

In [47]:
print 'n', 'nodes', 'features'
for db in combinations(allfeatures, 6):
    start_time = time()
    dblist = list(db)
    df = make_feature_df(dblist, verbose=False)
    etime = time() - start_time
    print '6', df.shape[0], dblist
    d = {'n':6, 
     'nodes': df.shape[0],
     'features': dblist,
     'time': etime}
    res = res.append(d, ignore_index=True)
res

n nodes features
6 3749 ['assessment', 'business', 'sfpd', 'usc_age_gender', 'usc_household', 'usc_pop']
6 2468 ['assessment', 'business', 'sfpd', 'usc_age_gender', 'usc_household', 'walkscore']
6 2468 ['assessment', 'business', 'sfpd', 'usc_age_gender', 'usc_pop', 'walkscore']
6 2468 ['assessment', 'business', 'sfpd', 'usc_household', 'usc_pop', 'walkscore']
6 2483 ['assessment', 'business', 'usc_age_gender', 'usc_household', 'usc_pop', 'walkscore']
6 2562 ['assessment', 'sfpd', 'usc_age_gender', 'usc_household', 'usc_pop', 'walkscore']
6 2496 ['business', 'sfpd', 'usc_age_gender', 'usc_household', 'usc_pop', 'walkscore']

   n  nodes                                           features       time
0  0      0                                                [a]   0.001000
1  6   3749  [assessment, business, sfpd, usc_age_gender, u...  42.394688
2  6   2468  [assessment, business, sfpd, usc_age_gender, u...  41.687985
3  6   2468  [assessment, business, sfpd, usc_age_gender, u...  44.883734
4  6   2468  [assessment, business, sfpd, usc_household, us...  40.685143
5  6   2483  [assessment, business, usc_age_gender, usc_hou...   8.522255
6  6   2562  [assessment, sfpd, usc_age_gender, usc_househo...  37.838919
7  6   2496  [business, sfpd, usc_age_gender, usc_household...  39.684067

In [52]:
pickle.dump(res, open('data/bin_overlap.pkl', 'wb'))
e = pickle.load(open('data/bin_overlap.pkl', 'rb'))
e

   n  nodes                                           features       time
0  0      0                                                [a]   0.001000
1  6   3749  [assessment, business, sfpd, usc_age_gender, u...  42.394688
2  6   2468  [assessment, business, sfpd, usc_age_gender, u...  41.687985
3  6   2468  [assessment, business, sfpd, usc_age_gender, u...  44.883734
4  6   2468  [assessment, business, sfpd, usc_household, us...  40.685143
5  6   2483  [assessment, business, usc_age_gender, usc_hou...   8.522255
6  6   2562  [assessment, sfpd, usc_age_gender, usc_househo...  37.838919
7  6   2496  [business, sfpd, usc_age_gender, usc_household...  39.684067

In [40]:
print 'n', 'nodes', 'features'

res = pd.DataFrame({'n': 0, 'nodes': 0, 'features': ['a'], 'time': 0.001})

for i in xrange(2, 8):
    print ''
    print i, 'length combinations'
    for db in combinations(allfeatures, i):
        dblist = list(db)
        df = make_feature_df(dblist, verbose=False)
        print df.shape[0], dblist

n nodes features

2 length combinations
3781 ['assessment', 'business']
3887 ['assessment', 'sfpd']
4007 ['assessment', 'usc_age_gender']
4007 ['assessment', 'usc_household']
4007 ['assessment', 'usc_pop']
2638 ['assessment', 'walkscore']
3782 ['business', 'sfpd']
3850 ['business', 'usc_age_gender']
3850 ['business', 'usc_household']
3850 ['business', 'usc_pop']
2535 ['business', 'walkscore']
3966 ['sfpd', 'usc_age_gender']
3966 ['sfpd', 'usc_household']
3966 ['sfpd', 'usc_pop']
2620 ['sfpd', 'walkscore']
4396 ['usc_age_gender', 'usc_household']
4396 ['usc_age_gender', 'usc_pop']
2893 ['usc_age_gender', 'walkscore']
4396 ['usc_household', 'usc_pop']
2893 ['usc_household', 'walkscore']
2893 ['usc_pop', 'walkscore']

3 length combinations
3749 ['assessment', 'business', 'sfpd']
3781 ['assessment', 'business', 'usc_age_gender']
3781 ['assessment', 'business', 'usc_household']
3781 ['assessment', 'business', 'usc_pop']
2483 ['assessment', 'business', 'walkscore']
3887 ['assessment', 'sfpd', 'usc_age_gender']
3887 ['assessment', 'sfpd', 'usc_household']
3887 ['assessment', 'sfpd', 'usc_pop']
2562 ['assessment', 'sfpd', 'walkscore']
4007 ['assessment', 'usc_age_gender', 'usc_household']
4007 ['assessment', 'usc_age_gender', 'usc_pop']
2638 ['assessment', 'usc_age_gender', 'walkscore']
4007 ['assessment', 'usc_household', 'usc_pop']
2638 ['assessment', 'usc_household', 'walkscore']
2638 ['assessment', 'usc_pop', 'walkscore']
3782 ['business', 'sfpd', 'usc_age_gender']
3782 ['business', 'sfpd', 'usc_household']
3782 ['business', 'sfpd', 'usc_pop']
2496 ['business', 'sfpd', 'walkscore']
3850 ['business', 'usc_age_gender', 'usc_household']
3850 ['business', 'usc_age_gender', 'usc_pop']
2535 ['business', 'usc_age_gender', 'walkscore']
3850 ['business', 'usc_household', 'usc_pop']
2535 ['business', 'usc_household', 'walkscore']
2535 ['business', 'usc_pop', 'walkscore']
3966 ['sfpd', 'usc_age_gender', 'usc_household']
3966 ['sfpd', 'usc_age_gender', 'usc_pop']
2620 ['sfpd', 'usc_age_gender', 'walkscore']
3966 ['sfpd', 'usc_household', 'usc_pop']
2620 ['sfpd', 'usc_household', 'walkscore']
2620 ['sfpd', 'usc_pop', 'walkscore']
4396 ['usc_age_gender', 'usc_household', 'usc_pop']
2893 ['usc_age_gender', 'usc_household', 'walkscore']
2893 ['usc_age_gender', 'usc_pop', 'walkscore']
2893 ['usc_household', 'usc_pop', 'walkscore']

4 length combinations

KeyboardInterrupt:

In [60]:
res = feature_permutations([2])
res

2 length combinations
2 4841 7.2 ['assessment', 'business']
2 4991 40.5 ['assessment', 'sfpd']
2 4007 4.1 ['assessment', 'usc_age_gender']
2 4007 3.9 ['assessment', 'usc_household']
2 4007 3.9 ['assessment', 'usc_pop']
2 3598 3.7 ['assessment', 'walkscore']
2 4843 37.8 ['business', 'sfpd']
2 3850 4.2 ['business', 'usc_age_gender']
2 3850 4.1 ['business', 'usc_household']
2 3850 4.1 ['business', 'usc_pop']
2 3332 3.8 ['business', 'walkscore']
2 3966 36.7 ['sfpd', 'usc_age_gender']
2 3966 35.7 ['sfpd', 'usc_household']
2 3966 34.2 ['sfpd', 'usc_pop']
2 3486 39.7 ['sfpd', 'walkscore']
2 4396 1.1 ['usc_age_gender', 'usc_household']
2 4396 1.0 ['usc_age_gender', 'usc_pop']
2 2893 0.9 ['usc_age_gender', 'walkscore']
2 4396 0.8 ['usc_household', 'usc_pop']
2 2893 0.6 ['usc_household', 'walkscore']
2 2893 0.6 ['usc_pop', 'walkscore']

    n  nodes       time                         features
0   2   4841   7.167002           [assessment, business]
1   2   4991  40.457965               [assessment, sfpd]
2   2   4007   4.136955     [assessment, usc_age_gender]
3   2   4007   3.915876      [assessment, usc_household]
4   2   4007   3.921973            [assessment, usc_pop]
5   2   3598   3.739646          [assessment, walkscore]
6   2   4843  37.767951                 [business, sfpd]
7   2   3850   4.226210       [business, usc_age_gender]
8   2   3850   4.132608        [business, usc_household]
9   2   3850   4.114584              [business, usc_pop]
10  2   3332   3.773353            [business, walkscore]
11  2   3966  36.686240           [sfpd, usc_age_gender]
12  2   3966  35.671538            [sfpd, usc_household]
13  2   3966  34.159304                  [sfpd, usc_pop]
14  2   3486  39.693169                [sfpd, walkscore]
15  2   4396   1.066912  [usc_age_gender, usc_household]
16  2   4396   0.999579        [usc_age_gender, usc_pop]
17  2   2893   0.856934      [usc_age_gender, walkscore]
18  2   4396   0.773966         [usc_household, usc_pop]
19  2   2893   0.594728       [usc_household, walkscore]
20  2   2893   0.581145             [usc_pop, walkscore]