In [1]:
%cd ..

/Users/crupley/gal/hoodie

In [10]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from code.clusterize import *

In [7]:
fdf = load_featuredf()
fdf.head()

,lat,lon,taxable_value,grocery,restaurant,retail,ncrimes,sgnf,avg_hh_size,population,walkscore
0,37.750067,-122.441075,0.288994,-0.640949,-0.561362,-0.582297,-0.509058,0.477959,-0.017894,-0.102338,-0.025533
1,37.750196,-122.438933,0.336486,-0.576766,-0.465886,-0.515304,-0.509038,1.060608,0.253293,0.043369,0.146457
2,37.756794,-122.436270,0.350392,-0.131126,-0.396314,-0.227381,-0.313369,0.276664,0.244508,0.413731,0.701471
3,37.753529,-122.437050,0.327277,-0.298948,-0.286766,-0.356888,-0.456736,0.945703,0.372523,0.260021,0.594762
4,37.755758,-122.433400,0.355234,0.018376,-0.470065,-0.123353,-0.345027,0.674973,0.360681,0.530529,0.622791

In [ ]:
cnum = cut2cluster('010405', 27)

In [9]:
nodelist = set(fdf.index).intersection(set(cnum.index))
fdf = fdf.ix[nodelist]
cnum = cnum.ix[nodelist]
print cnum.shape
print fdf.shape

(7299,)
(7299, 11)

In [6]:
len(cnum.unique())

27

In [ ]:
sim